In [1]:
import math

In [2]:
class FactIter:
    def __init__(self, n):
        self.n = n
        self.i = 0
        
    def __iter__(self):
        return self
    def __next__(self):
        if self.i >= self.n:
            raise StopIteration
            
        else:
            result = math.factorial(self.i)
            self.i +=1
            return result

In [3]:
fact_iter = FactIter(5)

In [4]:
list(fact_iter)

[1, 1, 2, 6, 24]

In [5]:
list(fact_iter)

[]

In [6]:
next(fact_iter)

StopIteration:

In [11]:
def fact():
    i = 0
    def inner():
        nonlocal i
        result = math.factorial(i)
        i +=1
        return result
    return inner

In [12]:
f = fact()

In [13]:
f

In [14]:
f()

1

In [15]:
f()

1

In [16]:
f()

2

In [17]:
f()

6

In [18]:
f()

24

In [19]:
f = fact()

fact_iter = iter(f, math.factorial(5))

In [20]:
list(fact_iter)

[1, 1, 2, 6, 24]

In [21]:
list(fact_iter)

[]

In [22]:
list(fact_iter)

[]

In [23]:
def my_func():
    print('line 1')
    yield 'Flying'
    print('line 2')
    yield 'Circus'

In [24]:
type(my_func)

function

In [25]:
f = my_func()

In [26]:
type(f)

generator

In [27]:
'__iter__' in dir(f)

True

In [28]:
'__next__' in dir(f)

True

In [29]:
iter(f) is f

True

In [30]:
f.__next__()

line 1

'Flying'

In [31]:
result = next(f)

line 2

In [32]:
result

'Circus'

In [40]:
def silly():
    yield 'the'
    yield 'min'
    yield 'of'
    yield 'silly'
    return None

In [41]:
silly

In [42]:
gen = silly()

In [43]:
gen

In [44]:
for line in gen:
    print(line)

the
min
of
silly

In [45]:
next(gen)

StopIteration:

In [46]:
def silly():
    yield 'the'
    yield 'min'
    yield 'of'
    yield 'silly'
    if True:
        return 'Sorry'
    
    return None

In [47]:
gen = silly()

In [48]:
next(gen)

'the'

In [49]:
next(gen)

'min'

In [50]:
next(gen)

'of'

In [51]:
next(gen)

'silly'

In [52]:
next(gen)

StopIteration: Sorry

In [53]:
next(gen)

StopIteration:

In [55]:
def fact(n):
    for i in range(n):
        print(math.factorial(i))

In [56]:
fact(5)

1
1
2
6
24

In [57]:
def fact(n):
    for i in range(n):
        yield math.factorial(i)

In [58]:
fact

In [59]:
gen  = fact(5)

In [60]:
gen

In [61]:
next(gen)

1

In [62]:
next(gen)

1

In [63]:
next(gen)

2

In [64]:
next(gen)

6

In [65]:
next(gen)

24

In [66]:
next(gen)

StopIteration:

In [67]:
for num in gen:
    print(num)

In [68]:
list(gen)

[]

In [69]:
next(gen)

StopIteration:

In [71]:
def squares(n):
    for i in range(n):
        yield i**2

In [72]:
sq = squares(5)

In [73]:
list(sq)

[0, 1, 4, 9, 16]

In [74]:
list(sq)

[]

In [76]:
def fib(n):
    if n <= 1:
        return 1
    else:
        return fib(n-1) + fib(n-2)

In [77]:
[fib(i) for i in range(7)]

[1, 1, 2, 3, 5, 8, 13]

In [78]:
from timeit import timeit

In [82]:
timeit('fib(10)', globals = globals(), number = 10)

0.0004280999999082269

In [83]:
timeit('fib(28)', globals = globals(), number = 10)

2.342112000000043

In [84]:
timeit('fib(29)', globals = globals(), number = 10)

3.8141103000000385

In [85]:
from functools import lru_cache

In [86]:
@lru_cache
def fib(n):
    if n <= 1:
        return 1
    else:
        return fib(n-1) + fib(n-2)

In [87]:
timeit('fib(10)', globals = globals(), number = 10)

1.9999999949504854e-05

In [88]:
timeit('fib(28)', globals = globals(), number = 10)

3.5600000046542846e-05

In [89]:
fib(2000)

RecursionError: maximum recursion depth exceeded in comparison

In [90]:
def fib(n):
    fib_0 =1
    fib_1 = 1
    for i in range(n-1):
        fib_0 , fib_1 = fib_1, fib_0 + fib_1
    return fib_1

In [92]:
[fib(i) for i in range(7)]

[1, 1, 2, 3, 5, 8, 13]

In [94]:
timeit('fib(5000)', globals = globals(), number = 10)

0.016904500000009648

In [97]:
class FibIter:
    def __init__(self, n):
        self.n = n
        self.i = 0
        
    def __iter__(self):
        return self
    def __next__(self):
        if self.i >= self.n:
            raise StopIteration
        else:
            result = fib(self.i)
            self.i += 1
            return result

In [100]:
fib_iter =FibIter(7)

In [101]:
for num in fib_iter:
    print(num)

1
1
2
3
5
8
13

In [102]:
def fib(n):
    fib_0 =1
    fib_1 = 1
    for i in range(n-1):
        fib_0 , fib_1 = fib_1, fib_0 + fib_1
        yield fib_1

In [103]:
gen = fib(7)

In [104]:
for num in gen:
    print(num)

2
3
5
8
13
21

In [112]:
def fib(n):
    fib_0 =1
    yield fib_0
    fib_1 = 1
    yield fib_1
    for i in range(n-1):
        fib_0 , fib_1 = fib_1, fib_0 + fib_1
        yield fib_1

In [113]:
gen = fib(7)

In [115]:
for num in gen:
    print(num)

1
1
2
3
5
8
13
21

In [116]:
def sq_gen(n):
    for i in range(n):
        yield i**2

In [117]:
sq = sq_gen(5)

In [118]:
sq

In [119]:
for num in sq:
    print(num)

0
1
4
9
16

In [120]:
list(sq)

[]

In [121]:
class Squares:
    def __init__(self, n):
        self.n = n
        
    def __iter__(self):
        return sq_gen(self.n)

In [122]:
sq = Squares(5)

In [123]:
for num in sq:
    print(num)

0
1
4
9
16

In [125]:
list(sq)

[0, 1, 4, 9, 16]

In [126]:
class Squares:
    def __init__(self, n):
        self.n = n
        
    def __iter__(self):
        return Squares.sq_gen(self.n)
    
    @staticmethod
    def sq_gen(n):
        for i in range(n):
            yield i**2

In [127]:
sq = Squares(5)

In [128]:
list(sq)

[0, 1, 4, 9, 16]

In [129]:
list(sq)

[0, 1, 4, 9, 16]

In [130]:
list(sq)

[0, 1, 4, 9, 16]

In [131]:
list(sq)

[0, 1, 4, 9, 16]

In [132]:
def sq_gen(n):
    for i in range(n):
        yield i**2

In [133]:
sq =squares(5)

In [134]:
enum_sq = enumerate(sq)

In [135]:
list(enum_sq)

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16)]

In [136]:
l = [1,2,3]

In [137]:
enum = enumerate(l)

In [139]:
list(enum)

[(0, 1), (1, 2), (2, 3)]

In [140]:
list(enum)

[]

In [141]:
sq = squares(5)

In [142]:
next(sq)

0

In [143]:
next(sq)

1

In [144]:
list(enumerate(sq))

[(0, 4), (1, 9), (2, 16)]

In [145]:
from collections import namedtuple

In [150]:
Card = namedtuple('Card', 'rank suit')
SUITS = ('Spades', 'Hearts', 'Diamonds', 'Clubs')
RANKS = tuple(range(2,11)) + tuple('JQKA')

In [153]:
def card_gen():
    for i in range(len(SUITS) * len(RANKS)):
        suit = SUITS[i // len(RANKS)]
        rank = RANKS[i% len(RANKS)]
        card = Card(rank,suit)
        yield card

In [154]:
for card in card_gen():
    print(card)

Card(rank=2, suit='Spades')
Card(rank=3, suit='Spades')
Card(rank=4, suit='Spades')
Card(rank=5, suit='Spades')
Card(rank=6, suit='Spades')
Card(rank=7, suit='Spades')
Card(rank=8, suit='Spades')
Card(rank=9, suit='Spades')
Card(rank=10, suit='Spades')
Card(rank='J', suit='Spades')
Card(rank='Q', suit='Spades')
Card(rank='K', suit='Spades')
Card(rank='A', suit='Spades')
Card(rank=2, suit='Hearts')
Card(rank=3, suit='Hearts')
Card(rank=4, suit='Hearts')
Card(rank=5, suit='Hearts')
Card(rank=6, suit='Hearts')
Card(rank=7, suit='Hearts')
Card(rank=8, suit='Hearts')
Card(rank=9, suit='Hearts')
Card(rank=10, suit='Hearts')
Card(rank='J', suit='Hearts')
Card(rank='Q', suit='Hearts')
Card(rank='K', suit='Hearts')
Card(rank='A', suit='Hearts')
Card(rank=2, suit='Diamonds')
Card(rank=3, suit='Diamonds')
Card(rank=4, suit='Diamonds')
Card(rank=5, suit='Diamonds')
Card(rank=6, suit='Diamonds')
Card(rank=7, suit='Diamonds')
Card(rank=8, suit='Diamonds')
Card(rank=9, suit='Diamonds')
Card(rank=10, suit='Diamonds')
Card(rank='J', suit='Diamonds')
Card(rank='Q', suit='Diamonds')
Card(rank='K', suit='Diamonds')
Card(rank='A', suit='Diamonds')
Card(rank=2, suit='Clubs')
Card(rank=3, suit='Clubs')
Card(rank=4, suit='Clubs')
Card(rank=5, suit='Clubs')
Card(rank=6, suit='Clubs')
Card(rank=7, suit='Clubs')
Card(rank=8, suit='Clubs')
Card(rank=9, suit='Clubs')
Card(rank=10, suit='Clubs')
Card(rank='J', suit='Clubs')
Card(rank='Q', suit='Clubs')
Card(rank='K', suit='Clubs')
Card(rank='A', suit='Clubs')

In [157]:
def card_gen():
    for suit in SUITS:
        for rank in RANKS:
            yield Card(rank, suit)

In [159]:
for card in card_gen():
    print(card)

Card(rank=2, suit='Spades')
Card(rank=3, suit='Spades')
Card(rank=4, suit='Spades')
Card(rank=5, suit='Spades')
Card(rank=6, suit='Spades')
Card(rank=7, suit='Spades')
Card(rank=8, suit='Spades')
Card(rank=9, suit='Spades')
Card(rank=10, suit='Spades')
Card(rank='J', suit='Spades')
Card(rank='Q', suit='Spades')
Card(rank='K', suit='Spades')
Card(rank='A', suit='Spades')
Card(rank=2, suit='Hearts')
Card(rank=3, suit='Hearts')
Card(rank=4, suit='Hearts')
Card(rank=5, suit='Hearts')
Card(rank=6, suit='Hearts')
Card(rank=7, suit='Hearts')
Card(rank=8, suit='Hearts')
Card(rank=9, suit='Hearts')
Card(rank=10, suit='Hearts')
Card(rank='J', suit='Hearts')
Card(rank='Q', suit='Hearts')
Card(rank='K', suit='Hearts')
Card(rank='A', suit='Hearts')
Card(rank=2, suit='Diamonds')
Card(rank=3, suit='Diamonds')
Card(rank=4, suit='Diamonds')
Card(rank=5, suit='Diamonds')
Card(rank=6, suit='Diamonds')
Card(rank=7, suit='Diamonds')
Card(rank=8, suit='Diamonds')
Card(rank=9, suit='Diamonds')
Card(rank=10, suit='Diamonds')
Card(rank='J', suit='Diamonds')
Card(rank='Q', suit='Diamonds')
Card(rank='K', suit='Diamonds')
Card(rank='A', suit='Diamonds')
Card(rank=2, suit='Clubs')
Card(rank=3, suit='Clubs')
Card(rank=4, suit='Clubs')
Card(rank=5, suit='Clubs')
Card(rank=6, suit='Clubs')
Card(rank=7, suit='Clubs')
Card(rank=8, suit='Clubs')
Card(rank=9, suit='Clubs')
Card(rank=10, suit='Clubs')
Card(rank='J', suit='Clubs')
Card(rank='Q', suit='Clubs')
Card(rank='K', suit='Clubs')
Card(rank='A', suit='Clubs')

In [160]:
class CardDeck:
    SUITS = ('Spades', 'Hearts', 'Diamonds', 'Clubs')
    RANKS = tuple(range(2,11)) + tuple('JQKA')
    
    
    def __iter__(self):
        return CardDeck.card_gen()
        
        
        
    @staticmethod    
    def card_gen():
        for suit in CardDeck.SUITS:
            for rank in CardDeck.RANKS:
                yield Card(rank, suit)

In [161]:
deck = CardDeck()

In [162]:
list(deck)

[Card(rank=2, suit='Spades'),
 Card(rank=3, suit='Spades'),
 Card(rank=4, suit='Spades'),
 Card(rank=5, suit='Spades'),
 Card(rank=6, suit='Spades'),
 Card(rank=7, suit='Spades'),
 Card(rank=8, suit='Spades'),
 Card(rank=9, suit='Spades'),
 Card(rank=10, suit='Spades'),
 Card(rank='J', suit='Spades'),
 Card(rank='Q', suit='Spades'),
 Card(rank='K', suit='Spades'),
 Card(rank='A', suit='Spades'),
 Card(rank=2, suit='Hearts'),
 Card(rank=3, suit='Hearts'),
 Card(rank=4, suit='Hearts'),
 Card(rank=5, suit='Hearts'),
 Card(rank=6, suit='Hearts'),
 Card(rank=7, suit='Hearts'),
 Card(rank=8, suit='Hearts'),
 Card(rank=9, suit='Hearts'),
 Card(rank=10, suit='Hearts'),
 Card(rank='J', suit='Hearts'),
 Card(rank='Q', suit='Hearts'),
 Card(rank='K', suit='Hearts'),
 Card(rank='A', suit='Hearts'),
 Card(rank=2, suit='Diamonds'),
 Card(rank=3, suit='Diamonds'),
 Card(rank=4, suit='Diamonds'),
 Card(rank=5, suit='Diamonds'),
 Card(rank=6, suit='Diamonds'),
 Card(rank=7, suit='Diamonds'),
 Card(rank=8, suit='Diamonds'),
 Card(rank=9, suit='Diamonds'),
 Card(rank=10, suit='Diamonds'),
 Card(rank='J', suit='Diamonds'),
 Card(rank='Q', suit='Diamonds'),
 Card(rank='K', suit='Diamonds'),
 Card(rank='A', suit='Diamonds'),
 Card(rank=2, suit='Clubs'),
 Card(rank=3, suit='Clubs'),
 Card(rank=4, suit='Clubs'),
 Card(rank=5, suit='Clubs'),
 Card(rank=6, suit='Clubs'),
 Card(rank=7, suit='Clubs'),
 Card(rank=8, suit='Clubs'),
 Card(rank=9, suit='Clubs'),
 Card(rank=10, suit='Clubs'),
 Card(rank='J', suit='Clubs'),
 Card(rank='Q', suit='Clubs'),
 Card(rank='K', suit='Clubs'),
 Card(rank='A', suit='Clubs')]

In [163]:
list(deck)

[Card(rank=2, suit='Spades'),
 Card(rank=3, suit='Spades'),
 Card(rank=4, suit='Spades'),
 Card(rank=5, suit='Spades'),
 Card(rank=6, suit='Spades'),
 Card(rank=7, suit='Spades'),
 Card(rank=8, suit='Spades'),
 Card(rank=9, suit='Spades'),
 Card(rank=10, suit='Spades'),
 Card(rank='J', suit='Spades'),
 Card(rank='Q', suit='Spades'),
 Card(rank='K', suit='Spades'),
 Card(rank='A', suit='Spades'),
 Card(rank=2, suit='Hearts'),
 Card(rank=3, suit='Hearts'),
 Card(rank=4, suit='Hearts'),
 Card(rank=5, suit='Hearts'),
 Card(rank=6, suit='Hearts'),
 Card(rank=7, suit='Hearts'),
 Card(rank=8, suit='Hearts'),
 Card(rank=9, suit='Hearts'),
 Card(rank=10, suit='Hearts'),
 Card(rank='J', suit='Hearts'),
 Card(rank='Q', suit='Hearts'),
 Card(rank='K', suit='Hearts'),
 Card(rank='A', suit='Hearts'),
 Card(rank=2, suit='Diamonds'),
 Card(rank=3, suit='Diamonds'),
 Card(rank=4, suit='Diamonds'),
 Card(rank=5, suit='Diamonds'),
 Card(rank=6, suit='Diamonds'),
 Card(rank=7, suit='Diamonds'),
 Card(rank=8, suit='Diamonds'),
 Card(rank=9, suit='Diamonds'),
 Card(rank=10, suit='Diamonds'),
 Card(rank='J', suit='Diamonds'),
 Card(rank='Q', suit='Diamonds'),
 Card(rank='K', suit='Diamonds'),
 Card(rank='A', suit='Diamonds'),
 Card(rank=2, suit='Clubs'),
 Card(rank=3, suit='Clubs'),
 Card(rank=4, suit='Clubs'),
 Card(rank=5, suit='Clubs'),
 Card(rank=6, suit='Clubs'),
 Card(rank=7, suit='Clubs'),
 Card(rank=8, suit='Clubs'),
 Card(rank=9, suit='Clubs'),
 Card(rank=10, suit='Clubs'),
 Card(rank='J', suit='Clubs'),
 Card(rank='Q', suit='Clubs'),
 Card(rank='K', suit='Clubs'),
 Card(rank='A', suit='Clubs')]

In [164]:
reversed(CardDeck())

TypeError: 'CardDeck' object is not reversible

In [165]:
class CardDeck:
    SUITS = ('Spades', 'Hearts', 'Diamonds', 'Clubs')
    RANKS = tuple(range(2,11)) + tuple('JQKA')
    
    
    def __iter__(self):
        return CardDeck.card_gen()
    
    
    def __reversed__(self):
        return CardDeck.reversed_card_gen()
        
        
        
    @staticmethod    
    def card_gen():
        for suit in CardDeck.SUITS:
            for rank in CardDeck.RANKS:
                yield Card(rank, suit)
                
    @staticmethod            
    def reversed_card_gen():
        for suit in reversed(CardDeck.SUITS):
            for rank in reversed(CardDeck.RANKS):
                yield Card(rank,suit)

In [168]:
list(reversed(CardDeck()))

[Card(rank='A', suit='Clubs'),
 Card(rank='K', suit='Clubs'),
 Card(rank='Q', suit='Clubs'),
 Card(rank='J', suit='Clubs'),
 Card(rank=10, suit='Clubs'),
 Card(rank=9, suit='Clubs'),
 Card(rank=8, suit='Clubs'),
 Card(rank=7, suit='Clubs'),
 Card(rank=6, suit='Clubs'),
 Card(rank=5, suit='Clubs'),
 Card(rank=4, suit='Clubs'),
 Card(rank=3, suit='Clubs'),
 Card(rank=2, suit='Clubs'),
 Card(rank='A', suit='Diamonds'),
 Card(rank='K', suit='Diamonds'),
 Card(rank='Q', suit='Diamonds'),
 Card(rank='J', suit='Diamonds'),
 Card(rank=10, suit='Diamonds'),
 Card(rank=9, suit='Diamonds'),
 Card(rank=8, suit='Diamonds'),
 Card(rank=7, suit='Diamonds'),
 Card(rank=6, suit='Diamonds'),
 Card(rank=5, suit='Diamonds'),
 Card(rank=4, suit='Diamonds'),
 Card(rank=3, suit='Diamonds'),
 Card(rank=2, suit='Diamonds'),
 Card(rank='A', suit='Hearts'),
 Card(rank='K', suit='Hearts'),
 Card(rank='Q', suit='Hearts'),
 Card(rank='J', suit='Hearts'),
 Card(rank=10, suit='Hearts'),
 Card(rank=9, suit='Hearts'),
 Card(rank=8, suit='Hearts'),
 Card(rank=7, suit='Hearts'),
 Card(rank=6, suit='Hearts'),
 Card(rank=5, suit='Hearts'),
 Card(rank=4, suit='Hearts'),
 Card(rank=3, suit='Hearts'),
 Card(rank=2, suit='Hearts'),
 Card(rank='A', suit='Spades'),
 Card(rank='K', suit='Spades'),
 Card(rank='Q', suit='Spades'),
 Card(rank='J', suit='Spades'),
 Card(rank=10, suit='Spades'),
 Card(rank=9, suit='Spades'),
 Card(rank=8, suit='Spades'),
 Card(rank=7, suit='Spades'),
 Card(rank=6, suit='Spades'),
 Card(rank=5, suit='Spades'),
 Card(rank=4, suit='Spades'),
 Card(rank=3, suit='Spades'),
 Card(rank=2, suit='Spades')]

In [169]:
 l = [i**2 for i in range(5)]

In [170]:
l

[0, 1, 4, 9, 16]

In [171]:
g = (i**2 for i in range(5))

In [172]:
type(g)

generator

In [173]:
for i in g:
    print(i)

0
1
4
9
16

In [174]:
list(g)

[]

In [175]:
import dis

In [176]:
exp = compile('[i**2 for i in range(5)]',
             filename = '<string>', mode = 'eval')

In [177]:
dis.dis(exp)

  1           0 LOAD_CONST               0 (<code object <listcomp> at 0x00000251AC0A25B0, file "<string>", line 1>)
              2 LOAD_CONST               1 ('<listcomp>')
              4 MAKE_FUNCTION            0
              6 LOAD_NAME                0 (range)
              8 LOAD_CONST               2 (5)
             10 CALL_FUNCTION            1
             12 GET_ITER
             14 CALL_FUNCTION            1
             16 RETURN_VALUE

Disassembly of <code object <listcomp> at 0x00000251AC0A25B0, file "<string>", line 1>:
  1           0 BUILD_LIST               0
              2 LOAD_FAST                0 (.0)
        >>    4 FOR_ITER                12 (to 18)
              6 STORE_FAST               1 (i)
              8 LOAD_FAST                1 (i)
             10 LOAD_CONST               0 (2)
             12 BINARY_POWER
             14 LIST_APPEND              2
             16 JUMP_ABSOLUTE            4
        >>   18 RETURN_VALUE

In [178]:
exp = compile('(i**2 for i in range(5))',
             filename = '<string>', mode = 'eval')

In [179]:
dis.dis(exp)

  1           0 LOAD_CONST               0 (<code object <genexpr> at 0x00000251AC09F660, file "<string>", line 1>)
              2 LOAD_CONST               1 ('<genexpr>')
              4 MAKE_FUNCTION            0
              6 LOAD_NAME                0 (range)
              8 LOAD_CONST               2 (5)
             10 CALL_FUNCTION            1
             12 GET_ITER
             14 CALL_FUNCTION            1
             16 RETURN_VALUE

Disassembly of <code object <genexpr> at 0x00000251AC09F660, file "<string>", line 1>:
  1           0 LOAD_FAST                0 (.0)
        >>    2 FOR_ITER                14 (to 18)
              4 STORE_FAST               1 (i)
              6 LOAD_FAST                1 (i)
              8 LOAD_CONST               0 (2)
             10 BINARY_POWER
             12 YIELD_VALUE
             14 POP_TOP
             16 JUMP_ABSOLUTE            2
        >>   18 LOAD_CONST               1 (None)
             20 RETURN_VALUE

In [180]:
l = [i**2 for i in range(5)]
g = (i**2 for i in range(5))

In [181]:
list(l)

[0, 1, 4, 9, 16]

In [182]:
list(l)

[0, 1, 4, 9, 16]

In [183]:
list(g)

[0, 1, 4, 9, 16]

In [184]:
list(g)

[]

In [185]:
start = 1
stop = 10
mult_lst = [[i*j 
             for j in range(start, stop +1)]
           for i in range(start, stop +1)]

In [186]:
mult_lst

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

In [187]:
start = 1
stop = 10
mult_lst = ((i*j 
             for j in range(start, stop +1))
           for i in range(start, stop +1))

In [188]:
mult_lst

In [189]:
list(mult_lst)

[<generator object <genexpr>.<genexpr> at 0x00000251AC35B190>,
 <generator object <genexpr>.<genexpr> at 0x00000251AC35B430>,
 <generator object <genexpr>.<genexpr> at 0x00000251AC35B0B0>,
 <generator object <genexpr>.<genexpr> at 0x00000251AC35BBA0>,
 <generator object <genexpr>.<genexpr> at 0x00000251AC35BC10>,
 <generator object <genexpr>.<genexpr> at 0x00000251AC35BD60>,
 <generator object <genexpr>.<genexpr> at 0x00000251AC35BDD0>,
 <generator object <genexpr>.<genexpr> at 0x00000251AC35BE40>,
 <generator object <genexpr>.<genexpr> at 0x00000251AC35BEB0>,
 <generator object <genexpr>.<genexpr> at 0x00000251AC35BF20>]

In [190]:
start = 1
stop = 10
mult_lst = ((i*j 
             for j in range(start, stop +1))
           for i in range(start, stop +1))

In [191]:
for row in mult_lst:
    for item in row:
        print(item)

1
2
3
4
5
6
7
8
9
10
2
4
6
8
10
12
14
16
18
20
3
6
9
12
15
18
21
24
27
30
4
8
12
16
20
24
28
32
36
40
5
10
15
20
25
30
35
40
45
50
6
12
18
24
30
36
42
48
54
60
7
14
21
28
35
42
49
56
63
70
8
16
24
32
40
48
56
64
72
80
9
18
27
36
45
54
63
72
81
90
10
20
30
40
50
60
70
80
90
100

In [195]:
start = 1
stop = 10
mult_lst = ((i*j 
             for j in range(start, stop +1))
           for i in range(start, stop +1))


for row in mult_lst:
    for item in row:
        print(item,end = ' ')
        
    print('')

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [196]:
start = 1
stop = 10
mult_lst = ([i*j 
             for j in range(start, stop +1)]
           for i in range(start, stop +1))

In [197]:
list(mult_lst)

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

In [198]:
start = 1
stop = 10
mult_lst = ([i*j 
             for j in range(start, stop +1)]
           for i in range(start, stop +1))


for row in mult_lst:
    print(row)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
[6, 12, 18, 24, 30, 36, 42, 48, 54, 60]
[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]
[8, 16, 24, 32, 40, 48, 56, 64, 72, 80]
[9, 18, 27, 36, 45, 54, 63, 72, 81, 90]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [199]:
from math import factorial

In [204]:
def combo(n,k):
    return factorial(n) // (factorial(k)* factorial(n-k))

In [205]:
size = 10  #global var

In [206]:
pascal = [[combo(n,k) for k in range(n+1)] for n in range(size+1)]

In [207]:
pascal

[[1],
 [1, 1],
 [1, 2, 1],
 [1, 3, 3, 1],
 [1, 4, 6, 4, 1],
 [1, 5, 10, 10, 5, 1],
 [1, 6, 15, 20, 15, 6, 1],
 [1, 7, 21, 35, 35, 21, 7, 1],
 [1, 8, 28, 56, 70, 56, 28, 8, 1],
 [1, 9, 36, 84, 126, 126, 84, 36, 9, 1],
 [1, 10, 45, 120, 210, 252, 210, 120, 45, 10, 1]]

In [208]:
pascal = ((combo(n,k) for k in range(n+1)) for n in range(size+1))

In [209]:
[list(row) for row in pascal]

[[1],
 [1, 1],
 [1, 2, 1],
 [1, 3, 3, 1],
 [1, 4, 6, 4, 1],
 [1, 5, 10, 10, 5, 1],
 [1, 6, 15, 20, 15, 6, 1],
 [1, 7, 21, 35, 35, 21, 7, 1],
 [1, 8, 28, 56, 70, 56, 28, 8, 1],
 [1, 9, 36, 84, 126, 126, 84, 36, 9, 1],
 [1, 10, 45, 120, 210, 252, 210, 120, 45, 10, 1]]

In [210]:
from timeit import timeit

In [211]:
size = 600

In [213]:
timeit('[[combo(n,k) for k in range(n+1)] for n in range(size+1)]',
       globals = globals(), number = 1)

12.836964200001603

In [217]:
timeit('((combo(n,k) for k in range(n+1)) for n in range(size+1))',
       globals = globals(), number = 1)

3.6100000215810724e-05

In [216]:
timeit('([combo(n,k) for k in range(n+1)] for n in range(size+1))',
       globals = globals(), number = 1)

1.06999996205559e-05

In [218]:
size = 100_000

In [219]:
timeit('([combo(n,k) for k in range(n+1)] for n in range(size+1))',
       globals = globals(), number = 1)

9.900000804918818e-06

In [220]:
def pascal_list(size):
    l = [[combo(n,k) for k in range(n+1)] for n in range(size+1)]
    for row in l:
        for i in row:
            pass

In [221]:
def pascal_gen(size):
    g = ((combo(n,k) for k in range(n+1)) for n in range(size+1))
    for row in g:
        for i in row:
            pass

In [222]:
size = 600

In [225]:
timeit('pascal_list(size)', globals = globals(), number =1)

12.112150200000542

In [226]:
timeit('pascal_gen(size)', globals = globals(), number =1)

13.95074190000014

In [227]:
import tracemalloc

In [228]:
def pascal_list(size):
    l = [[combo(n,k) for k in range(n+1)] for n in range(size+1)]
    for row in l:
        for i in row:
            pass
        
        
    stats = tracemalloc.take_snapshot().statistics('lineno')
    print(stats[0].size, 'bytes')

In [229]:
def pascal_gen(size):
    g = ((combo(n,k) for k in range(n+1)) for n in range(size+1))
    for row in g:
        for i in row:
            pass
    stats = tracemalloc.take_snapshot().statistics('lineno')
    print(stats[0].size, 'bytes')

In [230]:
tracemalloc.stop()
tracemalloc.clear_traces()
tracemalloc.start()
pascal_list(300)

1998608 bytes

1998608/1024/1024

In [231]:
1998608/1024/1024

1.9060211181640625

In [232]:
tracemalloc.stop()
tracemalloc.clear_traces()
tracemalloc.start()
pascal_gen(300)

268 bytes

In [233]:
def matrix(n):
    gen = ( (i*j for j in range(1,n+1))
    for i in range(1,n+1))
    return gen

In [234]:
m = list(matrix(5))

In [235]:
m

[<generator object matrix.<locals>.<genexpr>.<genexpr> at 0x00000251AC373350>,
 <generator object matrix.<locals>.<genexpr>.<genexpr> at 0x00000251AC3735F0>,
 <generator object matrix.<locals>.<genexpr>.<genexpr> at 0x00000251AC373C10>,
 <generator object matrix.<locals>.<genexpr>.<genexpr> at 0x00000251AC3C22E0>,
 <generator object matrix.<locals>.<genexpr>.<genexpr> at 0x00000251AC3C23C0>]

In [236]:
def matrix_iter(n):
    for row in matrix(n):
        for i in row:
            yield i

In [237]:
for i in matrix_iter(3):
    print(i)

1
2
3
2
4
6
3
6
9

In [238]:
def matrix_iter(n):
    for row in matrix(n):
        yield from row

In [239]:
for i in matrix_iter(3):
    print(i)

1
2
3
2
4
6
3
6
9

In [240]:
file_1 = 'car-brands-1.txt'
file_2 = 'car-brands-2.txt'
file_3 = 'car-brands-3.txt'
files = file_1,file_2,file_3

In [241]:
brands = []

with open(file_1) as f:
    for brand in f:
        brands.append(brand.strip('\n'))
        
        

with open(file_2) as f:
    for brand in f:
        brands.append(brand.strip('\n'))
        
        
        

with open(file_3) as f:
    for brand in f:
        brands.append(brand.strip('\n'))

In [242]:
brands

['Alfa Romeo',
 'Aston Martin',
 'Audi',
 'Bentley',
 'Benz',
 'BMW',
 'Bugatti',
 'Cadillac',
 'Chevrolet',
 'Chrysler',
 'Citroën',
 'Corvette',
 'DAF',
 'Dacia',
 'Daewoo',
 'Daihatsu',
 'Datsun',
 'De Lorean',
 'Dino',
 'Dodge',
 'Farboud',
 'Ferrari',
 'Fiat',
 'Ford',
 'Honda',
 'Hummer',
 'Hyundai',
 'Jaguar',
 'Jeep',
 'KIA',
 'Koenigsegg',
 'Lada',
 'Lamborghini',
 'Lancia',
 'Land Rover',
 'Lexus',
 'Ligier',
 'Lincoln',
 'Lotus',
 'Martini',
 'Maserati',
 'Maybach',
 'Mazda',
 'McLaren',
 'Mercedes-Benz',
 'Mini',
 'Mitsubishi',
 'Nissan',
 'Noble',
 'Opel',
 'Peugeot',
 'Pontiac',
 'Porsche',
 'Renault',
 'Rolls-Royce',
 'Saab',
 'Seat',
 'Å\xa0koda',
 'Smart',
 'Spyker',
 'Subaru',
 'Suzuki',
 'Toyota',
 'Vauxhall',
 'Volkswagen',
 'Volvo']

In [243]:
for brand in brands:
    print(brand)

Alfa Romeo
Aston Martin
Audi
Bentley
Benz
BMW
Bugatti
Cadillac
Chevrolet
Chrysler
Citroën
Corvette
DAF
Dacia
Daewoo
Daihatsu
Datsun
De Lorean
Dino
Dodge
Farboud
Ferrari
Fiat
Ford
Honda
Hummer
Hyundai
Jaguar
Jeep
KIA
Koenigsegg
Lada
Lamborghini
Lancia
Land Rover
Lexus
Ligier
Lincoln
Lotus
Martini
Maserati
Maybach
Mazda
McLaren
Mercedes-Benz
Mini
Mitsubishi
Nissan
Noble
Opel
Peugeot
Pontiac
Porsche
Renault
Rolls-Royce
Saab
Seat
Å koda
Smart
Spyker
Subaru
Suzuki
Toyota
Vauxhall
Volkswagen
Volvo

In [244]:
def brands(*files):
    for f_name in files:
        with open(f_name) as f:
            for line in f:
                yield line.strip('\n')

In [245]:
for brand in brands(*files):
    print(brand)

Alfa Romeo
Aston Martin
Audi
Bentley
Benz
BMW
Bugatti
Cadillac
Chevrolet
Chrysler
Citroën
Corvette
DAF
Dacia
Daewoo
Daihatsu
Datsun
De Lorean
Dino
Dodge
Farboud
Ferrari
Fiat
Ford
Honda
Hummer
Hyundai
Jaguar
Jeep
KIA
Koenigsegg
Lada
Lamborghini
Lancia
Land Rover
Lexus
Ligier
Lincoln
Lotus
Martini
Maserati
Maybach
Mazda
McLaren
Mercedes-Benz
Mini
Mitsubishi
Nissan
Noble
Opel
Peugeot
Pontiac
Porsche
Renault
Rolls-Royce
Saab
Seat
Å koda
Smart
Spyker
Subaru
Suzuki
Toyota
Vauxhall
Volkswagen
Volvo

In [254]:
def gen_clean_data(file):
    with open(file) as f:
        for row in f:
            yield row.strip('\n')

In [250]:
def brands(*files):
    for f_name in files:
        cleaned_data = gen_clean_data(f_name)
        for line in cleaned_data:
            yield line

In [251]:
list(brands(*files))

['Alfa Romeo',
 'Aston Martin',
 'Audi',
 'Bentley',
 'Benz',
 'BMW',
 'Bugatti',
 'Cadillac',
 'Chevrolet',
 'Chrysler',
 'Citroën',
 'Corvette',
 'DAF',
 'Dacia',
 'Daewoo',
 'Daihatsu',
 'Datsun',
 'De Lorean',
 'Dino',
 'Dodge',
 'Farboud',
 'Ferrari',
 'Fiat',
 'Ford',
 'Honda',
 'Hummer',
 'Hyundai',
 'Jaguar',
 'Jeep',
 'KIA',
 'Koenigsegg',
 'Lada',
 'Lamborghini',
 'Lancia',
 'Land Rover',
 'Lexus',
 'Ligier',
 'Lincoln',
 'Lotus',
 'Martini',
 'Maserati',
 'Maybach',
 'Mazda',
 'McLaren',
 'Mercedes-Benz',
 'Mini',
 'Mitsubishi',
 'Nissan',
 'Noble',
 'Opel',
 'Peugeot',
 'Pontiac',
 'Porsche',
 'Renault',
 'Rolls-Royce',
 'Saab',
 'Seat',
 'Å\xa0koda',
 'Smart',
 'Spyker',
 'Subaru',
 'Suzuki',
 'Toyota',
 'Vauxhall',
 'Volkswagen',
 'Volvo']

In [257]:
def brands(*files):
    for f_name in files:
        yield from gen_clean_data(f_name)

In [258]:
list(brands(*files))

['Alfa Romeo',
 'Aston Martin',
 'Audi',
 'Bentley',
 'Benz',
 'BMW',
 'Bugatti',
 'Cadillac',
 'Chevrolet',
 'Chrysler',
 'Citroën',
 'Corvette',
 'DAF',
 'Dacia',
 'Daewoo',
 'Daihatsu',
 'Datsun',
 'De Lorean',
 'Dino',
 'Dodge',
 'Farboud',
 'Ferrari',
 'Fiat',
 'Ford',
 'Honda',
 'Hummer',
 'Hyundai',
 'Jaguar',
 'Jeep',
 'KIA',
 'Koenigsegg',
 'Lada',
 'Lamborghini',
 'Lancia',
 'Land Rover',
 'Lexus',
 'Ligier',
 'Lincoln',
 'Lotus',
 'Martini',
 'Maserati',
 'Maybach',
 'Mazda',
 'McLaren',
 'Mercedes-Benz',
 'Mini',
 'Mitsubishi',
 'Nissan',
 'Noble',
 'Opel',
 'Peugeot',
 'Pontiac',
 'Porsche',
 'Renault',
 'Rolls-Royce',
 'Saab',
 'Seat',
 'Å\xa0koda',
 'Smart',
 'Spyker',
 'Subaru',
 'Suzuki',
 'Toyota',
 'Vauxhall',
 'Volkswagen',
 'Volvo']