In [5]:
def squares(n):
    for i in range(n):
        yield i**2

In [6]:
list(squares(5))

[0, 1, 4, 9, 16]

In [7]:
min(squares(5))

0

In [8]:
max(squares(5))

16

In [9]:
sum(squares(5))

30

In [10]:
sq = squares(5)

In [11]:
min(sq)

0

In [12]:
max(sq)

ValueError: max() arg is an empty sequence

# next(sq)

In [14]:
bool(10)

True

In [18]:
bool(0+2j)

True

In [19]:
bool([])

False

In [20]:
bool([0])

True

In [21]:
bool([None])

True

In [22]:
sq = squares(50)

In [23]:
min(sq)

0

In [24]:
next(sq)

StopIteration:

In [25]:
bool(sq)

True

In [26]:
class Person:
    pass

In [27]:
p = Person()

In [28]:
bool(p)

True

In [29]:
class Person:
    def __bool__(self):
        return False

In [30]:
p = Person()

In [31]:
bool(p)

False

In [32]:
class Person:
    def __len__(self):
        return 0

In [33]:
p = Person()

In [34]:
bool(p)

False

In [37]:
class Person:
    def __bool__(self):
        return True
    
    def __len__(self):
        return 0

In [38]:
p = Person()
bool(p)

True

In [39]:
class Seq:
    def __init__(self,n):
        self.n = n
        
    def __len__(self):
        return self.n
    
    def __getitem__(self):
        pass

In [40]:
my_seq = Seq(0)

In [41]:
bool(my_seq)

False

In [42]:
my_seq = Seq(10)
bool(my_seq)

True

In [43]:
any([0, '', None])

False

In [44]:
any([0, '', None, (10,20)])

True

In [45]:
all([10, 'hello'])

True

In [46]:
all([10, 'hello', None])

False

In [47]:
##############eg

In [48]:
from numbers import Number

In [49]:
isinstance(10, Number)

True

In [50]:
isinstance(10.5, Number)

True

In [51]:
isinstance(10 + 10j, Number)

True

In [52]:
from decimal import Decimal

In [53]:
isinstance(Decimal('10.5'), Number)

True

In [54]:
isinstance('10.5', Number)

False

In [55]:
isinstance([10,20], Number)

False

In [61]:
l = [10,20,30,40,50, 'hello']

is_all_numbers = True
for i in l:
    if not isinstance(i,Number):
        is_all_numbers = False
        break

In [62]:
is_all_numbers

False

In [64]:
l = [1,2,3,4,5,0]
all(l)

False

In [65]:
def is_numeric(v):
    return isinstance(v, Number)

In [66]:
pred_l = map(is_numeric,l)

##pred_l = (is_numeric(item) for item in l)

print(list(pred_l))

[True, True, True, True, True, True]

In [67]:
pred_l = (is_numeric(item) for item in l)
print(list(pred_l))

[True, True, True, True, True, True]

In [68]:
pred_l = map(lambda x : isinstance(x, Number), l)

print(list(pred_l))

[True, True, True, True, True, True]

In [69]:
all(pred_l)

True

In [70]:
l = [1,2,3,4,5,6,0,'hello']

In [71]:
all(map(lambda x : isinstance(x, Number), l))

False

In [72]:
###EG2

In [74]:
with open('car-brands.txt') as f:
    for r in f:
        print(len(r), r, end = '')

11 Alfa Romeo
13 Aston Martin
5 Audi
8 Bentley
5 Benz
4 BMW
8 Bugatti
9 Cadillac
10 Chevrolet
9 Chrysler
8 Citroën
9 Corvette
4 DAF
6 Dacia
7 Daewoo
9 Daihatsu
7 Datsun
10 De Lorean
5 Dino
5 Dodge

In [76]:
with open('car-brands.txt') as f:
    result = all(map(lambda r: len(r) >= 4,f))
print(result)

True

In [77]:
with open('car-brands.txt') as f:
    result = any(map(lambda r: len(r) >= 10,f))
print(result)

True

In [78]:
with open('car-brands.txt') as f:
    result = any(map(lambda r: len(r) >= 13,f))
print(result)

True

In [79]:
with open('car-brands.txt') as f:
    result = any((len(r) >=4 for r in f))
print(result)

True

In [86]:
l = [1,2,3,4,5,6]

In [87]:
l[0:2]

[1, 2]

In [88]:
s = slice(0,2)

In [90]:
l[s]

[1, 2]

In [91]:
import math

In [97]:
def fact(n):
    for i in range(n):
        yield math.factorial(i)

In [98]:
facts = fact(100)

In [99]:
facts[0:2]

TypeError: 'generator' object is not subscriptable

In [100]:
def slice_(iter, start, stop):
    for _ in range(0,start):
        next(iter)
        
    for _ in range(start,stop):
        yield next(iter)

In [101]:
list(slice_(fact(100), 0, 10))

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [102]:
list(slice_(fact(100), 3, 10))

[6, 24, 120, 720, 5040, 40320, 362880]

In [103]:
from itertools import islice

In [104]:
list(islice(fact(100), 3,10))

[6, 24, 120, 720, 5040, 40320, 362880]

In [105]:
help(islice)

Help on class islice in module itertools:

class islice(builtins.object)
 |  islice(iterable, stop) --> islice object
 |  islice(iterable, start, stop[, step]) --> islice object
 |
 |  Return an iterator whose next() method returns selected values from an
 |  iterable.  If start is specified, will skip all preceding elements;
 |  otherwise, start defaults to zero.  Step defaults to one.  If
 |  specified as another value, step determines how many values are
 |  skipped between successive calls.  Works like a slice() on a list
 |  but returns an iterator.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __setstate__(...)
 |      Set state information for unpickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [106]:
list(islice(fact(100), 5))

[1, 1, 2, 6, 24]

In [107]:
list(islice(fact(100), 3,10,2))

[6, 120, 5040, 362880]

In [110]:
def fact():
    index = 0
    while True:
        print(f'yielding fact of ({index})...')
        yield math.factorial(index)
        index +=1

In [111]:
facts = fact()
for  _ in range(0,5):
    print(next(facts))

yielding fact of (0)...
1
yielding fact of (1)...
1
yielding fact of (2)...
2
yielding fact of (3)...
6
yielding fact of (4)...
24

In [113]:
islice(fact(), 3, 10)

In [114]:
list(islice(fact(), 3, 10))

yielding fact of (0)...
yielding fact of (1)...
yielding fact of (2)...
yielding fact of (3)...
yielding fact of (4)...
yielding fact of (5)...
yielding fact of (6)...
yielding fact of (7)...
yielding fact of (8)...
yielding fact of (9)...

[6, 24, 120, 720, 5040, 40320, 362880]

In [115]:
list(islice(fact(), 3, 10,2))

yielding fact of (0)...
yielding fact of (1)...
yielding fact of (2)...
yielding fact of (3)...
yielding fact of (4)...
yielding fact of (5)...
yielding fact of (6)...
yielding fact of (7)...
yielding fact of (8)...
yielding fact of (9)...

[6, 120, 5040, 362880]

In [117]:
sl = islice(fact(), 3, 10)

In [119]:
list(sl)

yielding fact of (0)...
yielding fact of (1)...
yielding fact of (2)...
yielding fact of (3)...
yielding fact of (4)...
yielding fact of (5)...
yielding fact of (6)...
yielding fact of (7)...
yielding fact of (8)...
yielding fact of (9)...

[6, 24, 120, 720, 5040, 40320, 362880]

In [120]:
list(sl)

[]

In [121]:
facts = fact()

In [122]:
islice(facts, 0,5)

In [123]:
next(facts)

yielding fact of (0)...

1

In [124]:
next(facts)

yielding fact of (1)...

1

In [125]:
next(facts)

yielding fact of (2)...

2

In [126]:
next(facts)

yielding fact of (3)...

6

In [127]:
def gen_cubes(n):
    for i in range(n):
        print(f'yielding {i}')
        yield i**3

In [129]:
def is_odd(x):
    return x%2 ==1

In [130]:
is_odd(4), is_odd(81)

(False, True)

In [131]:
filtered = filter(is_odd, gen_cubes(10))

In [132]:
list(filtered)

yielding 0
yielding 1
yielding 2
yielding 3
yielding 4
yielding 5
yielding 6
yielding 7
yielding 8
yielding 9

[1, 27, 125, 343, 729]

In [133]:
def is_even(x):
    return x%2 ==0

In [134]:
filtered = filter(is_even, gen_cubes(10))

In [135]:
list(filtered)

yielding 0
yielding 1
yielding 2
yielding 3
yielding 4
yielding 5
yielding 6
yielding 7
yielding 8
yielding 9

[0, 8, 64, 216, 512]

In [136]:
from itertools import filterfalse

In [137]:
filtered = filterfalse(is_odd, gen_cubes(10))

In [138]:
list(filtered)

yielding 0
yielding 1
yielding 2
yielding 3
yielding 4
yielding 5
yielding 6
yielding 7
yielding 8
yielding 9

[0, 8, 64, 216, 512]

In [139]:
### dropwhile and takewhile

In [141]:
from itertools import dropwhile, takewhile

In [142]:
from math import sin, pi

In [143]:
def sine_wave(n):
    start = 0
    max_ = 2* pi
    step = (max_ -start) / (n-1)
    
    for _ in range(n):
        yield round(sin(start),2)
        start +=step

In [146]:
list(sine_wave(15))

[0.0,
 0.43,
 0.78,
 0.97,
 0.97,
 0.78,
 0.43,
 0.0,
 -0.43,
 -0.78,
 -0.97,
 -0.97,
 -0.78,
 -0.43,
 -0.0]

In [149]:
result = takewhile(lambda x: 0<=x<=0.9, sine_wave(15))

In [150]:
list(result)

[0.0, 0.43, 0.78]

In [151]:
next(result)

StopIteration:

In [154]:
l = [1,2,3,4,5,6,1,2,3,4]

In [155]:
list(dropwhile(lambda x : x <5, l))

[5, 6, 1, 2, 3, 4]

In [ ]:
### COMPRESS

In [156]:
data = ['a', 'b', 'c', 'd', 'e']
selectors = [True, False, 1, 0] #none

In [157]:
list(zip(data, selectors))

[('a', True), ('b', False), ('c', 1), ('d', 0)]

In [158]:
[i for i, truth_val, in zip(data, selectors) if truth_val]

['a', 'c']

In [159]:
from itertools import compress

In [160]:
list(compress(data, selectors))

['a', 'c']

In [161]:
##INFINITE ITERATORS

In [162]:
from itertools import count, repeat, islice, cycle

In [163]:
# COUNT

In [164]:
g =count(10)

In [165]:
list(islice(g, 5))

[10, 11, 12, 13, 14]

In [166]:
range(10,20,0.5)

TypeError: 'float' object cannot be interpreted as an integer

In [167]:
g = count(1,0.5)

In [168]:
list(islice(g,5))

[1, 1.5, 2.0, 2.5, 3.0]

In [169]:
g = count(1+1j,1+2j)

In [170]:
list(islice(g,5))

[(1+1j), (2+3j), (3+5j), (4+7j), (5+9j)]

In [171]:
from decimal import Decimal

In [172]:
g = count(Decimal('0'), Decimal('0.1'))

In [173]:
list(islice(g,5))

[Decimal('0'), Decimal('0.1'), Decimal('0.2'), Decimal('0.3'), Decimal('0.4')]

In [174]:
### CYCLE

In [177]:
g =cycle(('red', 'green', 'blue'))

In [178]:
list(islice(g,5))

['red', 'green', 'blue', 'red', 'green']

In [179]:
def colors():
    yield 'red'
    yield 'green'
    yield 'blue'

In [180]:
cols = colors()

In [181]:
list(cols)

['red', 'green', 'blue']

In [182]:
list(cols)

[]

In [183]:
cols = colors()

In [184]:
g = cycle(cols)

In [185]:
list(islice(g,10))

['red', 'green', 'blue', 'red', 'green', 'blue', 'red', 'green', 'blue', 'red']

In [186]:
#### EXAMPLE

In [187]:
from collections import namedtuple

In [188]:
Card = namedtuple('Card', 'rank, suit')

In [191]:
def card_deck():
    ranks = tuple(str(num) for num in range(2,11)) + tuple('JQKA')
    suits = ('Spades', 'Hearts', 'Diamonds', 'Clubs')
    for suit in suits:
        for rank in ranks:
            yield Card(rank,suit)

In [192]:
list(islice(card_deck(), 10))

[Card(rank='2', suit='Spades'),
 Card(rank='3', suit='Spades'),
 Card(rank='4', suit='Spades'),
 Card(rank='5', suit='Spades'),
 Card(rank='6', suit='Spades'),
 Card(rank='7', suit='Spades'),
 Card(rank='8', suit='Spades'),
 Card(rank='9', suit='Spades'),
 Card(rank='10', suit='Spades'),
 Card(rank='J', suit='Spades')]

In [193]:
hands = [list() for _ in range(4)]

In [194]:
hands

[[], [], [], []]

In [195]:
index = 0
for card in card_deck():
    index = index %4
    hands[index].append(card)
    index += 1

In [196]:
hands

[[Card(rank='2', suit='Spades'),
  Card(rank='6', suit='Spades'),
  Card(rank='10', suit='Spades'),
  Card(rank='A', suit='Spades'),
  Card(rank='5', suit='Hearts'),
  Card(rank='9', suit='Hearts'),
  Card(rank='K', suit='Hearts'),
  Card(rank='4', suit='Diamonds'),
  Card(rank='8', suit='Diamonds'),
  Card(rank='Q', suit='Diamonds'),
  Card(rank='3', suit='Clubs'),
  Card(rank='7', suit='Clubs'),
  Card(rank='J', suit='Clubs')],
 [Card(rank='3', suit='Spades'),
  Card(rank='7', suit='Spades'),
  Card(rank='J', suit='Spades'),
  Card(rank='2', suit='Hearts'),
  Card(rank='6', suit='Hearts'),
  Card(rank='10', suit='Hearts'),
  Card(rank='A', suit='Hearts'),
  Card(rank='5', suit='Diamonds'),
  Card(rank='9', suit='Diamonds'),
  Card(rank='K', suit='Diamonds'),
  Card(rank='4', suit='Clubs'),
  Card(rank='8', suit='Clubs'),
  Card(rank='Q', suit='Clubs')],
 [Card(rank='4', suit='Spades'),
  Card(rank='8', suit='Spades'),
  Card(rank='Q', suit='Spades'),
  Card(rank='3', suit='Hearts'),
  Card(rank='7', suit='Hearts'),
  Card(rank='J', suit='Hearts'),
  Card(rank='2', suit='Diamonds'),
  Card(rank='6', suit='Diamonds'),
  Card(rank='10', suit='Diamonds'),
  Card(rank='A', suit='Diamonds'),
  Card(rank='5', suit='Clubs'),
  Card(rank='9', suit='Clubs'),
  Card(rank='K', suit='Clubs')],
 [Card(rank='5', suit='Spades'),
  Card(rank='9', suit='Spades'),
  Card(rank='K', suit='Spades'),
  Card(rank='4', suit='Hearts'),
  Card(rank='8', suit='Hearts'),
  Card(rank='Q', suit='Hearts'),
  Card(rank='3', suit='Diamonds'),
  Card(rank='7', suit='Diamonds'),
  Card(rank='J', suit='Diamonds'),
  Card(rank='2', suit='Clubs'),
  Card(rank='6', suit='Clubs'),
  Card(rank='10', suit='Clubs'),
  Card(rank='A', suit='Clubs')]]

In [197]:
hands = [ list() for _ in range(4)]

In [198]:
hands

[[], [], [], []]

In [200]:
index_cycle = cycle([0,1,2,3])

In [202]:
list(islice(index_cycle, 8))

[0, 1, 2, 3, 0, 1, 2, 3]

In [203]:
list(islice(index_cycle, 8))

[0, 1, 2, 3, 0, 1, 2, 3]

In [205]:
list(islice(index_cycle, 9))

[1, 2, 3, 0, 1, 2, 3, 0, 1]

In [206]:
list(islice(index_cycle, 8))

[2, 3, 0, 1, 2, 3, 0, 1]

In [207]:
index_cycle = cycle([0,1,2,3])
for card in card_deck():
    hands[next(index_cycle)].append(card)

In [208]:
hands

[[Card(rank='2', suit='Spades'),
  Card(rank='6', suit='Spades'),
  Card(rank='10', suit='Spades'),
  Card(rank='A', suit='Spades'),
  Card(rank='5', suit='Hearts'),
  Card(rank='9', suit='Hearts'),
  Card(rank='K', suit='Hearts'),
  Card(rank='4', suit='Diamonds'),
  Card(rank='8', suit='Diamonds'),
  Card(rank='Q', suit='Diamonds'),
  Card(rank='3', suit='Clubs'),
  Card(rank='7', suit='Clubs'),
  Card(rank='J', suit='Clubs')],
 [Card(rank='3', suit='Spades'),
  Card(rank='7', suit='Spades'),
  Card(rank='J', suit='Spades'),
  Card(rank='2', suit='Hearts'),
  Card(rank='6', suit='Hearts'),
  Card(rank='10', suit='Hearts'),
  Card(rank='A', suit='Hearts'),
  Card(rank='5', suit='Diamonds'),
  Card(rank='9', suit='Diamonds'),
  Card(rank='K', suit='Diamonds'),
  Card(rank='4', suit='Clubs'),
  Card(rank='8', suit='Clubs'),
  Card(rank='Q', suit='Clubs')],
 [Card(rank='4', suit='Spades'),
  Card(rank='8', suit='Spades'),
  Card(rank='Q', suit='Spades'),
  Card(rank='3', suit='Hearts'),
  Card(rank='7', suit='Hearts'),
  Card(rank='J', suit='Hearts'),
  Card(rank='2', suit='Diamonds'),
  Card(rank='6', suit='Diamonds'),
  Card(rank='10', suit='Diamonds'),
  Card(rank='A', suit='Diamonds'),
  Card(rank='5', suit='Clubs'),
  Card(rank='9', suit='Clubs'),
  Card(rank='K', suit='Clubs')],
 [Card(rank='5', suit='Spades'),
  Card(rank='9', suit='Spades'),
  Card(rank='K', suit='Spades'),
  Card(rank='4', suit='Hearts'),
  Card(rank='8', suit='Hearts'),
  Card(rank='Q', suit='Hearts'),
  Card(rank='3', suit='Diamonds'),
  Card(rank='7', suit='Diamonds'),
  Card(rank='J', suit='Diamonds'),
  Card(rank='2', suit='Clubs'),
  Card(rank='6', suit='Clubs'),
  Card(rank='10', suit='Clubs'),
  Card(rank='A', suit='Clubs')]]

In [209]:
hands = [list() for _ in range(4)]

In [211]:
hands_cycle = cycle(hands)

In [212]:
for card in card_deck():
    next(hands_cycle).append(card)

In [213]:
hands

[[Card(rank='2', suit='Spades'),
  Card(rank='6', suit='Spades'),
  Card(rank='10', suit='Spades'),
  Card(rank='A', suit='Spades'),
  Card(rank='5', suit='Hearts'),
  Card(rank='9', suit='Hearts'),
  Card(rank='K', suit='Hearts'),
  Card(rank='4', suit='Diamonds'),
  Card(rank='8', suit='Diamonds'),
  Card(rank='Q', suit='Diamonds'),
  Card(rank='3', suit='Clubs'),
  Card(rank='7', suit='Clubs'),
  Card(rank='J', suit='Clubs')],
 [Card(rank='3', suit='Spades'),
  Card(rank='7', suit='Spades'),
  Card(rank='J', suit='Spades'),
  Card(rank='2', suit='Hearts'),
  Card(rank='6', suit='Hearts'),
  Card(rank='10', suit='Hearts'),
  Card(rank='A', suit='Hearts'),
  Card(rank='5', suit='Diamonds'),
  Card(rank='9', suit='Diamonds'),
  Card(rank='K', suit='Diamonds'),
  Card(rank='4', suit='Clubs'),
  Card(rank='8', suit='Clubs'),
  Card(rank='Q', suit='Clubs')],
 [Card(rank='4', suit='Spades'),
  Card(rank='8', suit='Spades'),
  Card(rank='Q', suit='Spades'),
  Card(rank='3', suit='Hearts'),
  Card(rank='7', suit='Hearts'),
  Card(rank='J', suit='Hearts'),
  Card(rank='2', suit='Diamonds'),
  Card(rank='6', suit='Diamonds'),
  Card(rank='10', suit='Diamonds'),
  Card(rank='A', suit='Diamonds'),
  Card(rank='5', suit='Clubs'),
  Card(rank='9', suit='Clubs'),
  Card(rank='K', suit='Clubs')],
 [Card(rank='5', suit='Spades'),
  Card(rank='9', suit='Spades'),
  Card(rank='K', suit='Spades'),
  Card(rank='4', suit='Hearts'),
  Card(rank='8', suit='Hearts'),
  Card(rank='Q', suit='Hearts'),
  Card(rank='3', suit='Diamonds'),
  Card(rank='7', suit='Diamonds'),
  Card(rank='J', suit='Diamonds'),
  Card(rank='2', suit='Clubs'),
  Card(rank='6', suit='Clubs'),
  Card(rank='10', suit='Clubs'),
  Card(rank='A', suit='Clubs')]]

In [214]:
####Repeat

In [215]:
g = repeat('Python')
for _ in range(5):
    print(next(g))

Python
Python
Python
Python
Python

In [216]:
g= repeat('python', 4)

In [217]:
list(g)

['python', 'python', 'python', 'python']

In [218]:
hands = [[]]* 4

In [219]:
hands

[[], [], [], []]

In [220]:
hands[0] is hands[1]

True

In [221]:
hands[0].append(10)

In [222]:
hands

[[10], [10], [10], [10]]

In [223]:
g = repeat([],4)

In [224]:
g_list = list(g)

In [225]:
g_list

[[], [], [], []]

In [226]:
g_list[0].append(10)

In [227]:
g_list

[[10], [10], [10], [10]]

In [228]:
### CHAINING AND TEEING

In [229]:
l1 = (i**2 for i in range(4))
l2 = (i**2 for i in range(4,8))
l3 = (i**2 for i in range(8,12))

In [230]:
for gen in l1,l2,l3:
    for i in gen:
        print (i)

0
1
4
9
16
25
36
49
64
81
100
121

In [231]:
def chain_iter(*iter):
    for i in iter:
        yield from i

In [233]:
l1 = (i**2 for i in range(4))
l2 = (i**2 for i in range(4,8))
l3 = (i**2 for i in range(8,12))


for i in chain_iter(l1,l2,l3):
    print(i)

0
1
4
9
16
25
36
49
64
81
100
121

In [234]:
from itertools import chain

In [235]:
l1 = (i**2 for i in range(4))
l2 = (i**2 for i in range(4,8))
l3 = (i**2 for i in range(8,12))


for i in chain(l1,l2,l3):
    print(i)

0
1
4
9
16
25
36
49
64
81
100
121

In [237]:
l1 = (i**2 for i in range(4))
l2 = (i**2 for i in range(4,8))
l3 = (i**2 for i in range(8,12))


lists = [l1,l2,l3]
for i in chain(lists):
    for item in i:
        print(item)

0
1
4
9
16
25
36
49
64
81
100
121

In [238]:
l1 = (i**2 for i in range(4))
l2 = (i**2 for i in range(4,8))
l3 = (i**2 for i in range(8,12))

lists = [l1,l2,l3]

for i in chain(*lists):
    print(i)

0
1
4
9
16
25
36
49
64
81
100
121

In [239]:
def squares():
    yield(i**2 for i in range(4))
    yield (i**2 for i in range(4,8))
    yield (i**2 for i in range(8,12))

In [240]:
for i in chain(*squares()):
    print(i)

0
1
4
9
16
25
36
49
64
81
100
121

In [241]:
def squares():
    print('yielding first item')
    yield(i**2 for i in range(4))
    print('yielding second item')
    yield (i**2 for i in range(4,8))
    print('yielding third item')
    yield (i**2 for i in range(8,12))

In [242]:
def read_val(*args):
    print('finished reading args')

In [243]:
read_val(squares())

finished reading args

In [244]:
read_val(*squares())

yielding first item
yielding second item
yielding third item
finished reading args

In [245]:
## so in this unpacking is done rapidly not lazily

In [246]:
## Alternative

In [250]:
c = chain.from_iterable(squares())

In [251]:
for i in c:
    print(i)

yielding first item
0
1
4
9
yielding second item
16
25
36
49
yielding third item
64
81
100
121

In [252]:
## this is lazy unpacking

In [253]:
def chain_iter(*iter):
    for i in iter:
        yield from i

In [257]:
def chain_from_iter(iter):
    for i in iter:
        yield from i

In [258]:
for item in chain_from_iter(squares()):
    print(item)

yielding first item
0
1
4
9
yielding second item
16
25
36
49
yielding third item
64
81
100
121

In [259]:
##chain is lazy

In [260]:
from itertools import tee

In [261]:
def squares(n):
    for i in range(n):
        yield i**2

In [262]:
gen = squares(10)

In [263]:
gen

In [264]:
iters = tee(gen,3)

In [265]:
iters

(<itertools._tee at 0x1c14b45f740>,
 <itertools._tee at 0x1c14b45f780>,
 <itertools._tee at 0x1c14b45f7c0>)

In [266]:
###not the same object

In [267]:
type(iters)

tuple

In [268]:
##tee function returns a tuple that contains copies of gen

In [269]:
iter1, iter2,iter3 = iters

In [270]:
iter1 is iter2

False

In [271]:
iter2 is iter3

False

In [272]:
gen is iter1

False

In [273]:
next(iter1), next(iter1), next(iter1)

(0, 1, 4)

In [274]:
next(iter2), next(iter2), next(iter2)

(0, 1, 4)

In [275]:
next(iter3), next(iter3), next(iter1)

(0, 1, 9)

In [276]:
l = [1,2,3,4]
lists = tee(l,2)

In [277]:
lists[0]

In [278]:
list(lists[0])

[1, 2, 3, 4]

In [279]:
list(lists[1])

[1, 2, 3, 4]

In [280]:
list(lists[0])

[]

In [281]:
so be carefull with this even though you passing in iter here in tee(l,2) but what we get out from tee is iterators 
and again athey are lazy iterators as usual so we cant usee tee eg to make 4 copies of the list bcz as we were having 
having problem with hands before that we have to use the list comprehension 
to make the list independent so we cannot use the tee as it returns the tuple of iters

SyntaxError: invalid syntax (<ipython-input-281-773be2afa734>, line 1)

In [282]:
lists[0] is lists[0].__iter__()

True

In [284]:
'__next__' in dir(lists[0])

True

In [286]:
##  MAPPING AND ACCUMULATION

In [288]:
maps = map(lambda x : x**2, range(5) )

In [289]:
type(maps)

map

In [290]:
iter(maps) is maps

True

In [291]:
'__next__' in dir(maps)

True

In [292]:
list(maps)

[0, 1, 4, 9, 16]

In [293]:
def add(t):
    return t[0] + t[1]

In [294]:
list(map(add, [(0,0),[1,1], range(2,4)]))

[0, 2, 5]

In [295]:
def add(x,y):
    return x+y

In [296]:
t = (2,3)
add(*t)

5

In [297]:
list(map(add, [(0,0),[1,1], range(2,4)]))

TypeError: add() missing 1 required positional argument: 'y'

In [298]:
[add(*t) for t in [(0,0),[1,1], range(2,4)]]

[0, 2, 5]

In [300]:
from itertools import starmap

In [303]:
list(starmap(add,[(0,0),[1,1], range(2,4)]))

[0, 2, 5]

In [304]:
sum([10,20,30])

60

In [305]:
sum(range(10,40,10))

60

In [306]:
from functools import reduce

In [307]:
reduce(lambda x,y: x*y, [1,2,3,4])

24

In [308]:
reduce(lambda x,y: x*y, [1,2,3,4], 10)

240

In [310]:
def sum_(itera):
    it = iter(itera)
    acc = next(it)
    yield acc
    for item in it:
            acc +=item
            yield acc

In [311]:
for item in sum_([10,20,30]):
    print(item)

10
30
60

In [312]:
def running_reduce(fn, iterable,start=None):
    it = iter(iterable)
    if start is None:
        acc = next(it)
    else:
        acc = start
    yield acc
    
    for item in it:
        acc = fn(acc,item)
        yield acc

In [314]:
list(running_reduce(lambda x,y: x+y, [10,20,30]))

[10, 30, 60]

In [315]:
import operator

In [316]:
list(running_reduce(operator.add, [10,20,30]))

[10, 30, 60]

In [317]:
list(running_reduce(operator.mul, [1,2,3,4]))

[1, 2, 6, 24]

In [319]:
list(running_reduce(operator.mul, [1,2, 3,4], 10))

[10, 10, 20, 60, 240]

In [320]:
from itertools import accumulate

In [321]:
list(accumulate([10,20,30]))

[10, 30, 60]

In [322]:
list(accumulate([1,2,3,4]), operator.mul))

[1, 2, 6, 24]

In [323]:
from itertools import chain

In [328]:
list(chain([10],[1,2,3,4]))

[10, 1, 2, 3, 4]

In [332]:
list(accumulate(chain((10,), [1,2,3,4]), operator.mul))

[10, 10, 20, 60, 240]

In [333]:
## ZIPPING

In [334]:
l1 = [1,2,3,4,5]
l2 = [1,2,3,4]
l3 = [1,2,3]

In [335]:
results = zip(l1,l2,l3)

In [336]:
iter(results)is results

True

In [337]:
'__next__' in dir(results)

True

In [338]:
list(results)

[(1, 1, 1), (2, 2, 2), (3, 3, 3)]

In [343]:
def integer(n):
    for i in range(n):
        yield i
        
        
def squares(n):
    for i in range(n):
        yield i**2
        
def cubes(n):
    for i in range(n):
        yield i**3

In [344]:
iter1 = integer(6)
iter2 = squares(5)
iter3 = cubes(4)

In [345]:
list(zip(iter1, iter2, iter3))

[(0, 0, 0), (1, 1, 1), (2, 4, 8), (3, 9, 27)]

In [347]:
from itertools import zip_longest

In [348]:
iter1 = integer(6)
iter2 = squares(5)
iter3 = cubes(4)

In [352]:
list(zip_longest(l1,l2,l3, fillvalue = 'OP'))

[(1, 1, 1), (2, 2, 2), (3, 3, 3), (4, 4, 'OP'), (5, 'OP', 'OP')]

In [353]:
def squares():
    i = 0
    while True:
        yield i **2
        i +=1

In [354]:
def cubes():
    i =0
    while True:
        yield i **3
        i +=1

In [355]:
iter1 = squares()
iter2 = cubes()

In [356]:
list(zip(range(10), iter1, iter2))

[(0, 0, 0),
 (1, 1, 1),
 (2, 4, 8),
 (3, 9, 27),
 (4, 16, 64),
 (5, 25, 125),
 (6, 36, 216),
 (7, 49, 343),
 (8, 64, 512),
 (9, 81, 729)]

In [357]:
## do not use zip longest as it is going to givve infinite

In [2]:
import itertools

with open('cars_2014.csv') as f:
    for r in itertools.islice(f,0,20):
        print(r, end ='')

make,model
ACURA,ILX
ACURA,MDX
ACURA,RDX
ACURA,RLX
ACURA,TL
ACURA,TSX
ALFA ROMEO,4C
ALFA ROMEO,GIULIETTA
APRILIA,CAPONORD 1200
APRILIA,RSV4 FACTORY APRC ABS
APRILIA,RSV4 R APRC ABS
APRILIA,SHIVER 750
ARCTIC CAT,1000 XT
ARCTIC CAT,500 XT
ARCTIC CAT,550 XT
ARCTIC CAT,700 LTD
ARCTIC CAT,700 SUPER DUTY DIESEL
ARCTIC CAT,700 XT
ARCTIC CAT,90 2X4 4-STROKE

In [3]:
from collections import defaultdict

In [4]:
makes = defaultdict(int)

In [5]:
makes['fhuh']

0

In [6]:
makes['BMW'] = makes['BMW'] +1

In [7]:
makes['BMW']

1

In [8]:
makes['BMW'] = makes['BMW'] +1

In [9]:
makes['BMW']

2

In [11]:
makes = defaultdict(int)
with open('cars_2014.csv') as f:
    next(f)
    for r in f:
        make, _ = r.strip('\n').split(',')
        makes[make] +=1
        
for k , v in makes.items():
    print(f'{k}: {v}')

ACURA: 6
ALFA ROMEO: 2
APRILIA: 4
ARCTIC CAT: 96
ARGO: 4
ASTON MARTIN: 5
AUDI: 27
BENTLEY: 2
BLUE BIRD: 1
BMW: 86
BUGATTI: 1
BUICK: 5
CADILLAC: 7
CAN-AM: 61
CHEVROLET: 33
CHRYSLER: 2
DODGE: 7
DUCATI: 4
FERRARI: 6
FIAT: 2
FORD: 34
FREIGHTLINER: 7
GMC: 12
HARLEY DAVIDSON: 29
HINO: 7
HONDA: 91
HUSABERG: 4
HUSQVARNA: 9
HYUNDAI: 13
INDIAN: 3
INFINITI: 8
JAGUAR: 9
JEEP: 5
JOHN DEERE: 19
KAWASAKI: 59
KENWORTH: 11
KIA: 10
KTM: 13
KUBOTA: 4
KYMCO: 28
LAMBORGHINI: 2
LAND ROVER: 6
LEXUS: 14
LINCOLN: 6
LOTUS: 1
MACK: 9
MASERATI: 3
MAZDA: 5
MCLAREN: 2
MERCEDES-BENZ: 60
MINI: 3
MITSUBISHI: 8
NISSAN: 24
PEUGEOT: 3
POLARIS: 101
PORSCHE: 4
RAM: 6
RENAULT: 4
ROLLS ROYCE: 3
SCION: 5
SEAT: 3
SKI-DOO: 67
SMART: 1
SRT: 1
SUBARU: 10
SUZUKI: 48
TESLA: 2
TOYOTA: 19
TRIUMPH: 10
VESPA: 4
VICTORY: 14
VOLKSWAGEN: 16
VOLVO: 8
YAMAHA: 110

In [16]:
data = (1,2,2,2,3)

In [17]:
list(itertools.groupby(data))

[(1, <itertools._grouper at 0x24da49fcdc0>),
 (2, <itertools._grouper at 0x24da49fca30>),
 (3, <itertools._grouper at 0x24da49fc910>)]

In [19]:
it = itertools.groupby(data)
for group_k, sub_iter in it:
    print(group_k, list(sub_iter))

1 [1]
2 [2, 2, 2]
3 [3]

In [20]:
data = (
(1, 'abc'),
(1,'bcd'),
(2,'pyt'),
(2,'ioi'),
(2,'opo'),
(3, 'lol')
)

In [21]:
data

((1, 'abc'), (1, 'bcd'), (2, 'pyt'), (2, 'ioi'), (2, 'opo'), (3, 'lol'))

In [22]:
groups = itertools.groupby(data, key=lambda x : x[0])

In [23]:
list(groups)

[(1, <itertools._grouper at 0x24da49fcc10>),
 (2, <itertools._grouper at 0x24da49fc190>),
 (3, <itertools._grouper at 0x24da49fcc40>)]

In [24]:
list(groups)

[]

In [25]:
groups = itertools.groupby(data, key=lambda x : x[0])
for group_key, sub_iter in groups:
    print(group_key, list(sub_iter))

1 [(1, 'abc'), (1, 'bcd')]
2 [(2, 'pyt'), (2, 'ioi'), (2, 'opo')]
3 [(3, 'lol')]

In [36]:
def gen_groups():
    for key in range(1,4):
        for i in range(3):
            yield (key,i)

In [37]:
g = gen_groups()

In [28]:
list(g)

[(1, 0), (1, 1), (1, 2), (1, 0), (1, 1), (1, 2), (1, 0), (1, 1), (1, 2)]

In [42]:
g = gen_groups()

In [43]:
groups = itertools.groupby(g,key =lambda x: x[0])

In [44]:
for group in groups:
    print(group[0], list(group[1]))

1 [(1, 0), (1, 1), (1, 2)]
2 [(2, 0), (2, 1), (2, 2)]
3 [(3, 0), (3, 1), (3, 2)]

In [47]:
with open('cars_2014.csv') as f:
    make_groups = itertools.groupby(f, lambda x: x.split(',')[0])

In [48]:
list(make_groups)

ValueError: I/O operation on closed file.

In [2]:
import itertools

In [4]:
with open('cars_2014.csv') as f:
    next(f)
    make_groups = itertools.groupby(f,key = lambda x : x.split(',')[0])
    print(list(itertools.islice(make_groups,5)))

[('ACURA', <itertools._grouper object at 0x0000018F6D11B730>), ('ALFA ROMEO', <itertools._grouper object at 0x0000018F6D11B8B0>), ('APRILIA', <itertools._grouper object at 0x0000018F6D11B6D0>), ('ARCTIC CAT', <itertools._grouper object at 0x0000018F6D11B400>), ('ARGO', <itertools._grouper object at 0x0000018F6D11B820>)]

In [8]:
with open('cars_2014.csv') as f:
    next(f)
    make_groups = itertools.groupby(f,key = lambda x : x.split(',')[0])
    make_counts = ((key, len(models)) for key , models in make_groups)
    print(list(make_counts))

TypeError: object of type 'itertools._grouper' has no len()

In [9]:
def squares(n):
    for i in range(n):
        yield i **2

In [12]:
sq = squares(5)

In [13]:
len(sq)

TypeError: object of type 'generator' has no len()

In [14]:
i =0
for item in sq:
    i +=1
print(i)

5

In [18]:
def len_iter(iterable):
    i=0
    for item in iterable:
        i +=1
    return i

In [19]:
len_iter(squares(5))

5

In [21]:
sum(1 for i in squares(8))

8

In [22]:
with open('cars_2014.csv') as f:
    next(f)
    make_groups = itertools.groupby(f,key = lambda x : x.split(',')[0])
    make_counts = ((key, sum(1 for model in models)) for key , models in make_groups)
    print(list(make_counts))

[('ACURA', 6), ('ALFA ROMEO', 2), ('APRILIA', 4), ('ARCTIC CAT', 96), ('ARGO', 4), ('ASTON MARTIN', 5), ('AUDI', 27), ('BENTLEY', 2), ('BLUE BIRD', 1), ('BMW', 86), ('BUGATTI', 1), ('BUICK', 5), ('CADILLAC', 7), ('CAN-AM', 61), ('CHEVROLET', 33), ('CHRYSLER', 2), ('DODGE', 7), ('DUCATI', 4), ('FERRARI', 6), ('FIAT', 2), ('FORD', 34), ('FREIGHTLINER', 7), ('GMC', 12), ('HARLEY DAVIDSON', 29), ('HINO', 7), ('HONDA', 91), ('HUSABERG', 4), ('HUSQVARNA', 9), ('HYUNDAI', 13), ('INDIAN', 3), ('INFINITI', 8), ('JAGUAR', 9), ('JEEP', 5), ('JOHN DEERE', 19), ('KAWASAKI', 59), ('KENWORTH', 11), ('KIA', 10), ('KTM', 13), ('KUBOTA', 4), ('KYMCO', 28), ('LAMBORGHINI', 2), ('LAND ROVER', 6), ('LEXUS', 14), ('LINCOLN', 6), ('LOTUS', 1), ('MACK', 9), ('MASERATI', 3), ('MAZDA', 5), ('MCLAREN', 2), ('MERCEDES-BENZ', 60), ('MINI', 3), ('MITSUBISHI', 8), ('NISSAN', 24), ('PEUGEOT', 3), ('POLARIS', 101), ('PORSCHE', 4), ('RAM', 6), ('RENAULT', 4), ('ROLLS ROYCE', 3), ('SCION', 5), ('SEAT', 3), ('SKI-DOO', 67), ('SMART', 1), ('SRT', 1), ('SUBARU', 10), ('SUZUKI', 48), ('TESLA', 2), ('TOYOTA', 19), ('TRIUMPH', 10), ('VESPA', 4), ('VICTORY', 14), ('VOLKSWAGEN', 16), ('VOLVO', 8), ('YAMAHA', 110)]

In [23]:
## COMBINATORICS

In [24]:
import itertools

In [25]:
def matrix(n):
    for i in range(1,n+1):
        for j in range(1,n+1):
            yield f'{i} x {j}= {i*j}'

In [26]:
list(itertools.islice(matrix(10),10,20))

['2 x 1= 2',
 '2 x 2= 4',
 '2 x 3= 6',
 '2 x 4= 8',
 '2 x 5= 10',
 '2 x 6= 12',
 '2 x 7= 14',
 '2 x 8= 16',
 '2 x 9= 18',
 '2 x 10= 20']

In [29]:
l1 = ['x1', 'x2', 'x3', 'x4']
l2 = ['y1', 'y2', 'y3']
for x in l1:
    for y in l2:
        print((x,y), end = ' ')
    print('')

('x1', 'y1') ('x1', 'y2') ('x1', 'y3')
('x2', 'y1') ('x2', 'y2') ('x2', 'y3')
('x3', 'y1') ('x3', 'y2') ('x3', 'y3')
('x4', 'y1') ('x4', 'y2') ('x4', 'y3')

In [30]:
list(itertools.product(l1,l2))

[('x1', 'y1'),
 ('x1', 'y2'),
 ('x1', 'y3'),
 ('x2', 'y1'),
 ('x2', 'y2'),
 ('x2', 'y3'),
 ('x3', 'y1'),
 ('x3', 'y2'),
 ('x3', 'y3'),
 ('x4', 'y1'),
 ('x4', 'y2'),
 ('x4', 'y3')]

In [31]:
def matrix(n):
    for i in range(1,n+1):
        for j in range(1,n+1):
            yield (i,j,i*j)

In [38]:
def matrix(n):
    for i ,j in itertools.product(range(1,n+1), range(1,n+1)):
        yield (i,j,i*j)

In [39]:
list(matrix(4))

[(1, 1, 1),
 (1, 2, 2),
 (1, 3, 3),
 (1, 4, 4),
 (2, 1, 2),
 (2, 2, 4),
 (2, 3, 6),
 (2, 4, 8),
 (3, 1, 3),
 (3, 2, 6),
 (3, 3, 9),
 (3, 4, 12),
 (4, 1, 4),
 (4, 2, 8),
 (4, 3, 12),
 (4, 4, 16)]

In [40]:
def matrix(n):
    return ((i,j, i*j)
           for i , j in itertools.product(range(1,n+1), range(1, n+1)))

In [41]:
list(matrix(4))

[(1, 1, 1),
 (1, 2, 2),
 (1, 3, 3),
 (1, 4, 4),
 (2, 1, 2),
 (2, 2, 4),
 (2, 3, 6),
 (2, 4, 8),
 (3, 1, 3),
 (3, 2, 6),
 (3, 3, 9),
 (3, 4, 12),
 (4, 1, 4),
 (4, 2, 8),
 (4, 3, 12),
 (4, 4, 16)]

In [43]:
from itertools import tee

In [47]:
def matrix(n):
    return ((i,j, i*j)
           for i , j in itertools.product(*tee(range(1,n+1),2)))

In [50]:
def grid(min_val, max_val,step, *, num_dm=2):
    axis = itertools.takewhile(lambda x : x <= max_val,
                        itertools.count(min_val,step))
    axes = itertools.tee(axis, num_dm)
    return itertools.product(*axes)

In [51]:
list(grid(-1,1,0.5))

[(-1, -1),
 (-1, -0.5),
 (-1, 0.0),
 (-1, 0.5),
 (-1, 1.0),
 (-0.5, -1),
 (-0.5, -0.5),
 (-0.5, 0.0),
 (-0.5, 0.5),
 (-0.5, 1.0),
 (0.0, -1),
 (0.0, -0.5),
 (0.0, 0.0),
 (0.0, 0.5),
 (0.0, 1.0),
 (0.5, -1),
 (0.5, -0.5),
 (0.5, 0.0),
 (0.5, 0.5),
 (0.5, 1.0),
 (1.0, -1),
 (1.0, -0.5),
 (1.0, 0.0),
 (1.0, 0.5),
 (1.0, 1.0)]

In [53]:
list(grid(-1,1,0.5, num_dm =3))

[(-1, -1, -1),
 (-1, -1, -0.5),
 (-1, -1, 0.0),
 (-1, -1, 0.5),
 (-1, -1, 1.0),
 (-1, -0.5, -1),
 (-1, -0.5, -0.5),
 (-1, -0.5, 0.0),
 (-1, -0.5, 0.5),
 (-1, -0.5, 1.0),
 (-1, 0.0, -1),
 (-1, 0.0, -0.5),
 (-1, 0.0, 0.0),
 (-1, 0.0, 0.5),
 (-1, 0.0, 1.0),
 (-1, 0.5, -1),
 (-1, 0.5, -0.5),
 (-1, 0.5, 0.0),
 (-1, 0.5, 0.5),
 (-1, 0.5, 1.0),
 (-1, 1.0, -1),
 (-1, 1.0, -0.5),
 (-1, 1.0, 0.0),
 (-1, 1.0, 0.5),
 (-1, 1.0, 1.0),
 (-0.5, -1, -1),
 (-0.5, -1, -0.5),
 (-0.5, -1, 0.0),
 (-0.5, -1, 0.5),
 (-0.5, -1, 1.0),
 (-0.5, -0.5, -1),
 (-0.5, -0.5, -0.5),
 (-0.5, -0.5, 0.0),
 (-0.5, -0.5, 0.5),
 (-0.5, -0.5, 1.0),
 (-0.5, 0.0, -1),
 (-0.5, 0.0, -0.5),
 (-0.5, 0.0, 0.0),
 (-0.5, 0.0, 0.5),
 (-0.5, 0.0, 1.0),
 (-0.5, 0.5, -1),
 (-0.5, 0.5, -0.5),
 (-0.5, 0.5, 0.0),
 (-0.5, 0.5, 0.5),
 (-0.5, 0.5, 1.0),
 (-0.5, 1.0, -1),
 (-0.5, 1.0, -0.5),
 (-0.5, 1.0, 0.0),
 (-0.5, 1.0, 0.5),
 (-0.5, 1.0, 1.0),
 (0.0, -1, -1),
 (0.0, -1, -0.5),
 (0.0, -1, 0.0),
 (0.0, -1, 0.5),
 (0.0, -1, 1.0),
 (0.0, -0.5, -1),
 (0.0, -0.5, -0.5),
 (0.0, -0.5, 0.0),
 (0.0, -0.5, 0.5),
 (0.0, -0.5, 1.0),
 (0.0, 0.0, -1),
 (0.0, 0.0, -0.5),
 (0.0, 0.0, 0.0),
 (0.0, 0.0, 0.5),
 (0.0, 0.0, 1.0),
 (0.0, 0.5, -1),
 (0.0, 0.5, -0.5),
 (0.0, 0.5, 0.0),
 (0.0, 0.5, 0.5),
 (0.0, 0.5, 1.0),
 (0.0, 1.0, -1),
 (0.0, 1.0, -0.5),
 (0.0, 1.0, 0.0),
 (0.0, 1.0, 0.5),
 (0.0, 1.0, 1.0),
 (0.5, -1, -1),
 (0.5, -1, -0.5),
 (0.5, -1, 0.0),
 (0.5, -1, 0.5),
 (0.5, -1, 1.0),
 (0.5, -0.5, -1),
 (0.5, -0.5, -0.5),
 (0.5, -0.5, 0.0),
 (0.5, -0.5, 0.5),
 (0.5, -0.5, 1.0),
 (0.5, 0.0, -1),
 (0.5, 0.0, -0.5),
 (0.5, 0.0, 0.0),
 (0.5, 0.0, 0.5),
 (0.5, 0.0, 1.0),
 (0.5, 0.5, -1),
 (0.5, 0.5, -0.5),
 (0.5, 0.5, 0.0),
 (0.5, 0.5, 0.5),
 (0.5, 0.5, 1.0),
 (0.5, 1.0, -1),
 (0.5, 1.0, -0.5),
 (0.5, 1.0, 0.0),
 (0.5, 1.0, 0.5),
 (0.5, 1.0, 1.0),
 (1.0, -1, -1),
 (1.0, -1, -0.5),
 (1.0, -1, 0.0),
 (1.0, -1, 0.5),
 (1.0, -1, 1.0),
 (1.0, -0.5, -1),
 (1.0, -0.5, -0.5),
 (1.0, -0.5, 0.0),
 (1.0, -0.5, 0.5),
 (1.0, -0.5, 1.0),
 (1.0, 0.0, -1),
 (1.0, 0.0, -0.5),
 (1.0, 0.0, 0.0),
 (1.0, 0.0, 0.5),
 (1.0, 0.0, 1.0),
 (1.0, 0.5, -1),
 (1.0, 0.5, -0.5),
 (1.0, 0.5, 0.0),
 (1.0, 0.5, 0.5),
 (1.0, 0.5, 1.0),
 (1.0, 1.0, -1),
 (1.0, 1.0, -0.5),
 (1.0, 1.0, 0.0),
 (1.0, 1.0, 0.5),
 (1.0, 1.0, 1.0)]

In [54]:
sample_space = list(itertools.product(range(1,7), range(1,7)))
print(sample_space)

[(1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (2, 6), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (3, 6), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (4, 6), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (5, 6), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5), (6, 6)]

In [56]:
outcomes = list(filter(lambda x:x[0]+x[1]== 8, sample_space))

In [57]:
outcomes

[(2, 6), (3, 5), (4, 4), (5, 3), (6, 2)]

In [59]:
len(outcomes)/len(sample_space)

0.1388888888888889

In [60]:
from fractions import Fraction

In [64]:
odds = Fraction(len(outcomes), len(sample_space))

In [65]:
odds

Fraction(5, 36)

In [66]:
l1 = 'abc'
list(itertools.permutations(l1))

[('a', 'b', 'c'),
 ('a', 'c', 'b'),
 ('b', 'a', 'c'),
 ('b', 'c', 'a'),
 ('c', 'a', 'b'),
 ('c', 'b', 'a')]

In [68]:
list(itertools.permutations(l1, 2))

[('a', 'b'), ('a', 'c'), ('b', 'a'), ('b', 'c'), ('c', 'a'), ('c', 'b')]

In [69]:
l1 = 'abca'
list(itertools.permutations(l1))

[('a', 'b', 'c', 'a'),
 ('a', 'b', 'a', 'c'),
 ('a', 'c', 'b', 'a'),
 ('a', 'c', 'a', 'b'),
 ('a', 'a', 'b', 'c'),
 ('a', 'a', 'c', 'b'),
 ('b', 'a', 'c', 'a'),
 ('b', 'a', 'a', 'c'),
 ('b', 'c', 'a', 'a'),
 ('b', 'c', 'a', 'a'),
 ('b', 'a', 'a', 'c'),
 ('b', 'a', 'c', 'a'),
 ('c', 'a', 'b', 'a'),
 ('c', 'a', 'a', 'b'),
 ('c', 'b', 'a', 'a'),
 ('c', 'b', 'a', 'a'),
 ('c', 'a', 'a', 'b'),
 ('c', 'a', 'b', 'a'),
 ('a', 'a', 'b', 'c'),
 ('a', 'a', 'c', 'b'),
 ('a', 'b', 'a', 'c'),
 ('a', 'b', 'c', 'a'),
 ('a', 'c', 'a', 'b'),
 ('a', 'c', 'b', 'a')]

In [70]:
list(itertools.combinations([1,2,3,4], 2))

[(1, 2), (1, 3), (1, 4), (2, 3), (2, 4), (3, 4)]

In [71]:
list(itertools.combinations([4,3,2,1], 2))

[(4, 3), (4, 2), (4, 1), (3, 2), (3, 1), (2, 1)]

In [72]:
list(itertools.combinations_with_replacement([4,3,2,1], 2))

[(4, 4),
 (4, 3),
 (4, 2),
 (4, 1),
 (3, 3),
 (3, 2),
 (3, 1),
 (2, 2),
 (2, 1),
 (1, 1)]

In [73]:
SUITS = 'SHDC'
RANKS = tuple(map(str, range(2,11))) + tuple('JQKA')

In [74]:
RANKS

('2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A')

In [75]:
SUITS

'SHDC'

In [78]:
dec = [rank+suit for suit in SUITS for rank in RANKS]

In [79]:
dec[0:5]

['2S', '3S', '4S', '5S', '6S']

##### deck = [rank +suit for suit , rank in itertools.product(SUITS, RANKS)]

In [82]:
deck[0:5]

['2S', '3S', '4S', '5S', '6S']

In [83]:
from collections import namedtuple
Card = namedtuple('Card', 'rank, suit')

In [85]:
dec = [Card(rank,suit) for suit, rank in itertools.product(SUITS, RANKS)]

In [86]:
dec [0:5]

[Card(rank='2', suit='S'),
 Card(rank='3', suit='S'),
 Card(rank='4', suit='S'),
 Card(rank='5', suit='S'),
 Card(rank='6', suit='S')]

In [87]:
dec =  (Card(rank,suit) for suit, rank in itertools.product(SUITS, RANKS))

In [88]:
sample_space = itertools.combinations(dec,4)

In [89]:
dec =  (Card(rank,suit) for suit, rank in itertools.product(SUITS, RANKS))
sample_space = itertools.combinations(dec,4)
total =0
accept = 0
for out in sample_space:
    total +=1
    for card in out:
        if card.rank != 'A':
            break
    else: ##nobreak:
        accept +=1

        
print(f'total = {total}, acceptanle = {accept}')
print('odds = {}'.format(Fraction(accept, total)))
print('odds=  {:.10f}'.format(accept/total))

total = 270725, acceptanle = 1
odds = 1/270725
odds=  0.0000036938

In [90]:
###was brute force

In [92]:
dec =  (Card(rank,suit) for suit, rank in itertools.product(SUITS, RANKS))
sample_space = itertools.combinations(dec,4)
total =0
accept = 0
for out in sample_space:
    total +=1
    if all(map(lambda x : x.rank == 'A', out)):
        accept +=1
    
print(f'total = {total}, acceptanle = {accept}')
print('odds = {}'.format(Fraction(accept, total)))
print('odds=  {:.10f}'.format(accept/total))

total = 270725, acceptanle = 1
odds = 1/270725
odds=  0.0000036938