In [2]:
s1 = {1,2,3}
s2 = {2,3,4}
s1.intersection(s2)

{2, 3}

In [3]:
s1 , s2

({1, 2, 3}, {2, 3, 4})

In [4]:
s3 = {3,4,5}
s1.intersection(s2,s3)

{3}

In [5]:
s1 & s2&s3

{3}

In [6]:
s1.union(s2)

{1, 2, 3, 4}

In [7]:
s1.union(s2,s3)

{1, 2, 3, 4, 5}

In [8]:
s1 | s2 |s3

{1, 2, 3, 4, 5}

In [9]:
s1 = {1,2,3}
s2 = {2,3,4}
s3 = {30,40,50}

In [10]:
s1.isdisjoint(s2)

False

In [12]:
s1.isdisjoint(s3)

True

In [13]:
len(s1 & s2)

2

In [14]:
if len(s1 & s2) >0:
    print('not')

not

In [15]:
bool({})

False

In [16]:
bool([0])

True

In [17]:
bool({0})

True

In [19]:
if s1 & s2:
    print('no')

no

In [20]:
if s1 & s3:
    print('not')
else:
    print('dis')

dis

In [21]:
if not s1 & s3:
    print('sets dis')

sets dis

In [22]:
s1 = {1,2,3,4,5}
s2 = {4,5}

In [23]:
s1-s2

{1, 2, 3}

In [24]:
s1.difference(s2)

{1, 2, 3}

In [25]:
s2-s1

set()

In [26]:
s1-s2

{1, 2, 3}

In [27]:
s1 = {1,2,3}
s2 = {3,4}
s3 = {3,4}
s1 -(s2-s3)

{1, 2, 3}

In [28]:
(s1-s2)-s3

{1, 2}

In [29]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

In [30]:
s1.symmetric_difference(s2)

{1, 2, 3, 6, 7, 8}

In [31]:
s2 ^ s1

{1, 2, 3, 6, 7, 8}

In [32]:
s1 ^ s2

{1, 2, 3, 6, 7, 8}

In [33]:
s1 = {1,2,3}
s2 = {1,2,3}
s3 = {1,2,3,4}
s4 = {10,20,30}

In [34]:
s1.issubset(s2)

True

In [35]:
s1 <=s2

True

In [36]:
s1 < s2

False

In [37]:
s3.issuperset(s1)

True

In [38]:
s3 >s1

True

In [39]:
s2 >s1

False

In [40]:
s1 = {1,2,3}
s2 = {10,20,30}

In [41]:
s1 <=s2

False

In [42]:
s1 >s2

False

In [43]:
{1,2}.intersection(range(10))

{1, 2}

In [44]:
{1,2}.intersection([2,3])

{2}

In [45]:
{1,2}.intersection([(1,2), (2,3)])

set()

In [46]:
{1,2}.intersection([[1,2], (2,3)])

TypeError: unhashable type: 'list'

In [47]:
l1 = [1,2,3]
l2 = [2,3,4]

In [49]:
set(l1).intersection(l2)

{2, 3}

In [50]:
a = 0b101010
b = 0b110100
a,b

(42, 52)

In [51]:
type(a), type(b)

(int, int)

In [52]:
True and False

False

In [53]:
c = a & b

In [54]:
c

32

In [55]:
bin(c)

'0b100000'

In [56]:
print(bin(a))
print(bin(b))
print(bin(c))

0b101010
0b110100
0b100000

In [57]:
c = a| b

In [58]:
print(bin(a))
print(bin(b))
print(bin(c))

0b101010
0b110100
0b111110

In [59]:
c = a ^ b

In [60]:
print(bin(a))
print(bin(b))
print(bin(c))

0b101010
0b110100
0b11110

In [61]:
s1 = {1,2,3}
s2 = {2,3,4}

In [62]:
print(s1, id(s1))
print(s2, id(s2))

{1, 2, 3} 2174997885664
{2, 3, 4} 2174997887680

In [63]:
s1 = s1 & s2

In [64]:
print(s1, id(s1))
print(s2, id(s2))

{2, 3} 2174997699264
{2, 3, 4} 2174997887680

In [66]:
id(globals()['s1'])

2174997699264

In [67]:
s1 = {1,2,3}
s2 = {2,3,4}

In [68]:
print(id(s1))

2174997888128

In [69]:
s1 |=s2
print(s1, id(s1))

{1, 2, 3, 4} 2174997888128

In [70]:
s1 = {1,2,3}
s2 = {2,3,4}
print(id(s1))
s1.update(s2)
print(s1, id(s1))

2174997885664
{1, 2, 3, 4} 2174997885664

In [71]:
s1 = {1,2,3}
s2 = {2,3,4}
print(id(s1))
s1 &= s2
print(s1, id(s1))

2174998013984
{2, 3} 2174998013984

In [73]:
s1 = {1,2,3}
s2 = {2,3,4}
print(id(s1))
s1.intersection_update(s2)
print(s1, id(s1))

2174997885664
{2, 3} 2174997885664

In [75]:
s1 = {1,2,3,4}
s2 = {2,3}
print(id(s1))
s1 -= s2
print(id(s1), s1)

2174998014208
2174998014208 {1, 4}

In [77]:
s1 = {1,2,3,4}
s2 = {2,3}
print(id(s1))
s1.difference_update(s2)
print(id(s1), s1)

2174997887680
2174997887680 {1, 4}

In [79]:
s1 = {1,2,3,4}
s2 = {2,3}
s3 ={3,4}

result = (s1-s2)-s3
print(result)

s1 -= s2-s3
print(s1)

{1}
{1, 3, 4}

In [80]:
def combine(string, target):
    target.update(string.split(' '))

In [84]:
def cleanup(combined):
    words = {'the', 'and', 'a', 'or', 'is', 'of'}
    combined -= words

In [85]:
result = set()
combine('lumberjacks sleep all night', result)
combine('the ministry of silly walks', result)
combine('this parrot is a late parrot', result)
cleanup(result)
print(result)

{'lumberjacks', 'late', 'sleep', 'ministry', 'this', 'night', 'silly', 'walks', 'all', 'parrot'}

In [86]:
def gen_read_data():
    yield ['Paris', 'Beijing', 'New York', 'London', 'Madrid', 'Mumbai']
    yield ['Hyderabad', 'New York', 'Milan', 'Phoenix', 'Berlin', 'Cairo']
    yield ['Stockholm', 'Cairo', 'Paris', 'Barcelona', 'San Francisco']

In [93]:
data = gen_read_data()
next(data)

['Paris', 'Beijing', 'New York', 'London', 'Madrid', 'Mumbai']

In [88]:
next(data)

['Hyderabad', 'New York', 'Milan', 'Phoenix', 'Berlin', 'Cairo']

In [89]:
next(data)

['Stockholm', 'Cairo', 'Paris', 'Barcelona', 'San Francisco']

In [90]:
next(data)

StopIteration:

In [94]:
def filter_incoming(*cities, data_set):
    data_set.difference_update(cities)

In [97]:
result = set()
data = gen_read_data()
for page in data:
    result.update(page)
    filter_incoming('Paris', 'London', data_set = result)
print(result)

{'San Francisco', 'Milan', 'Hyderabad', 'Madrid', 'Beijing', 'Berlin', 'Phoenix', 'Stockholm', 'Barcelona', 'New York', 'Mumbai', 'Cairo'}

In [99]:
class Person:
    def __init__(self,name):
        self.name = name
        
    def __repr__(self):
        return f'Person(name = {self.name})'

In [110]:
p1 = Person('john')
p2 = Person('eric')

In [111]:
hash(p1), hash(p2)

(135937372022, 135937253404)

In [112]:
s1 = {p1,p2}

In [113]:
s1

{Person(name = eric), Person(name = john)}

In [124]:
s2 = s1.copy()

In [125]:
s1 is s2

False

In [126]:
s2

{Person(name = eric), Person(name = john)}

In [127]:
s1 == s2

True

In [128]:
p1 in s1

True

In [129]:
p1 in s2

True

In [130]:
s3 = {*s1}

In [131]:
s3

{Person(name = eric), Person(name = john)}

In [132]:
s1 in s3

False

In [133]:
s1 ==s3

True

In [134]:
s1, s2,s3

({Person(name = eric), Person(name = john)},
 {Person(name = eric), Person(name = john)},
 {Person(name = eric), Person(name = john)})

In [135]:
p1.name = 'john cleese'

In [136]:
p1

Person(name = john cleese)

In [137]:
s1,s2,s3

({Person(name = eric), Person(name = john cleese)},
 {Person(name = eric), Person(name = john cleese)},
 {Person(name = eric), Person(name = john cleese)})

In [138]:
hash(p1)

135937372022

In [139]:
s4 = set(s1)

In [140]:
s1 == s4

True

In [141]:
s1 is s4

False

In [142]:
from copy import deepcopy

In [143]:
s5 = deepcopy(s1)

In [144]:
s5

{Person(name = eric), Person(name = john cleese)}

In [145]:
s1 is s5

False

In [146]:
s1 ==s5

False

In [148]:
[(o , id(o)) for o in s1]

[(Person(name = eric), 2174996054464),
 (Person(name = john cleese), 2174997952352)]

In [149]:
[(o , id(o)) for o in s2]

[(Person(name = eric), 2174996054464),
 (Person(name = john cleese), 2174997952352)]

In [150]:
[(o , id(o)) for o in s5]

[(Person(name = john cleese), 2174995961744),
 (Person(name = eric), 2174995962512)]

In [151]:
p2.name = 'eric idle'

In [152]:
s1,s2,s3,s4,s5

({Person(name = eric idle), Person(name = john cleese)},
 {Person(name = eric idle), Person(name = john cleese)},
 {Person(name = eric idle), Person(name = john cleese)},
 {Person(name = eric idle), Person(name = john cleese)},
 {Person(name = eric), Person(name = john cleese)})

In [153]:
s1.remove(p1)

In [154]:
s1

{Person(name = eric idle)}

In [155]:
s2

{Person(name = eric idle), Person(name = john cleese)}

In [156]:
s1

{Person(name = eric idle)}

In [157]:
s1.remove(Person('eric idle'))

KeyError: Person(name = eric idle)

In [158]:
s1 = {'a', 'b', 'c'}

In [159]:
type(s1)

set

In [160]:
hash(s1)

TypeError: unhashable type: 'set'

In [161]:
s2 = frozenset('abc')

In [162]:
s2

frozenset({'a', 'b', 'c'})

In [163]:
type(s2)

frozenset

In [164]:
hash(s2)

-2770116404116625358

In [166]:
s3 = {frozenset({'a', 'b'}), frozenset([1,2,3])}

In [167]:
s3

{frozenset({1, 2, 3}), frozenset({'a', 'b'})}

In [169]:
type(s3)

set

In [170]:
hash(s3)

TypeError: unhashable type: 'set'

In [171]:
t1 = 1,2,[3,4]

In [172]:
t2 = tuple(t1)

In [173]:
t2

(1, 2, [3, 4])

In [174]:
t1

(1, 2, [3, 4])

In [175]:
id(t1), id(t2)

(2174998051264, 2174998051264)

In [176]:
l1 = [1,2,3]

In [177]:
l2 = l1.copy()

In [178]:
id(l1)

2174998075136

In [179]:
id(l2)

2174996060736

In [180]:
s1 = {1,2,3}
s2 = set(s1)
s1 is s2

False

In [181]:
s1 = frozenset([1,2,3])
s2 = frozenset(s1)

In [182]:
s1 is s2

True

In [183]:
from copy import deepcopy

In [184]:
s2 = deepcopy(s1)

In [185]:
s1 is s2

False

In [186]:
type(s2)

frozenset

In [187]:
s1 = frozenset('ab')
s2 = {1,2}
s3 = s1 |s2

In [188]:
s3

frozenset({1, 2, 'a', 'b'})

In [189]:
s4 = s2 | s1

In [190]:
s4

{1, 2, 'a', 'b'}

In [191]:
s1 = {1,2}
s2 = frozenset(s1)

In [192]:
s1,s2

({1, 2}, frozenset({1, 2}))

In [193]:
s1 is s2

False

In [194]:
s1 ==s2

True

In [195]:
1 ==1.0

True

In [196]:
1 is 1.0

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-196-2ebf4c947f31>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  1 is 1.0

False

In [203]:
class Person:
    def __init__(self,name,age):
        self._name = name
        self._age = age
        
    def __repr__(self):
        return f'Person(name = {self._name}, age={self._age})'
    
    @property
    def name(self):
        return self._name
    
    @property
    def age(self):
        return self._age
        
    def key(self):
        return frozenset({self.name, self.age})

In [204]:
p1 = Person('john', 78)
p2 = Person('eric', 75)

In [205]:
d = {p1.key(): p1 , p2.key(): p2}

In [206]:
d

{frozenset({78, 'john'}): Person(name = john, age=78),
 frozenset({75, 'eric'}): Person(name = eric, age=75)}

In [207]:
d[frozenset(['john',78])]

Person(name = john, age=78)

In [208]:
p1 == Person('john', 78)

False

In [209]:
from functools import lru_cache

In [210]:
@lru_cache
def my_func(*,a,b):
    print('calculating a+ b')
    return a +b

In [211]:
my_func(a=1,b=2)

calculating a+ b

3

In [212]:
my_func(a=1,b=2)

3

In [213]:
my_func(b=2, a=1)

calculating a+ b

3

In [214]:
my_func(b=2, a=1)

3

In [215]:
my_func(a='a', b='b')

calculating a+ b

'ab'

In [216]:
my_func(a='a', b = 'b')

'ab'

In [217]:
def my_func2(*,a,b):
    print('calculating a+ b')
    return a +b

In [220]:
my_func2(a=[1,2,3] ,b = [3,4,5])

calculating a+ b

[1, 2, 3, 3, 4, 5]

In [221]:
my_func(a=[1,2,3], b = [3,4,5])

TypeError: unhashable type: 'list'

In [223]:
def memoizer(fn):
    cache = {}
    
    def inner(*args, **kwargs):
        key = (*args, frozenset(kwargs.items()))
        if key not in cache:
            result = fn(*args, **kwargs)
            cache[key] = result
        return cache[key]
    return inner

In [225]:
@memoizer
def my_func(*,a,b):
    print('calculating a+b...')
    return a+b

In [227]:
my_func(a=1,b=2)

calculating a+b...

3

In [228]:
my_func(a=2, b=1)

calculating a+b...

3

In [229]:
my_func(a=2, b=1)

3

In [231]:
def memoizer(fn):
    cache = {}
    def inner(*args, **kwargs):
        key = frozenset(args) | frozenset(kwargs.items())
        if key in cache:
            return cache[key]
        else:
            result = fn(*args, **kwargs)
            cache[key] = result
            return result
    return inner

In [233]:
@memoizer
def adder(*args):
    print('calculating..')
    return sum(args)

In [234]:
adder(1,2,3)

calculating..

6

In [235]:
adder(2,1,3)

6

In [236]:
adder(3,2,1)

6

In [237]:
adder(1,2,4)

calculating..

7

In [240]:
adder(4,2,1)

7

In [241]:
d = {'a':1, 'b':2}

In [242]:
keys = d.keys()
values =d.values()
items = d.items()

In [243]:
print(id(keys), id(values), id(items))

2174998260320 2174998259600 2174998258592

In [244]:
print(keys)
print(values)
print(items)

dict_keys(['a', 'b'])
dict_values([1, 2])
dict_items([('a', 1), ('b', 2)])

In [245]:
d['z']=10

In [246]:
print(keys)
print(values)
print(items)

dict_keys(['a', 'b', 'z'])
dict_values([1, 2, 10])
dict_items([('a', 1), ('b', 2), ('z', 10)])

In [247]:
print(id(keys), id(values), id(items))

2174998260320 2174998259600 2174998258592

In [248]:
d = dict(zip('abc', range(1,4)))

In [249]:
d

{'a': 1, 'b': 2, 'c': 3}

In [251]:
for k , v in d.items():
    print(k,v)
    del d[k]

a 1

RuntimeError: dictionary changed size during iteration

In [252]:
d

{'b': 2, 'c': 3}

In [254]:
d = dict(zip('abc', range(1,4)))
for k , v in d.items():
    print(k,v)
    d['z'] = 100

a 1

RuntimeError: dictionary changed size during iteration

In [255]:
d = dict(zip('abc', range(1,4)))
for k, v in d.items():
    print(k,v)
    d[k] = 100

a 1
b 2
c 3

In [256]:
d

{'a': 100, 'b': 100, 'c': 100}

In [258]:
d = dict(zip('abc', range(1,4)))
for k,v in d.items():
    print(k,v)
    d['c'] = 1000

a 1
b 2
c 1000

In [259]:
d

{'a': 1, 'b': 2, 'c': 1000}

In [260]:
d = dict(zip('abc', range(1,4)))
for k in d.keys():
    print(d)
    del d[k]

{'a': 1, 'b': 2, 'c': 3}

RuntimeError: dictionary changed size during iteration

In [261]:
d = dict(zip('abc', range(1,4)))
for v in d.values():
    print(v)
    del d['c']

1

RuntimeError: dictionary changed size during iteration

In [262]:
d

{'a': 1, 'b': 2}

In [263]:
d = dict(zip('abc', range(1,4)))
for key in d.keys():
    d[key] = 100

In [264]:
d

{'a': 100, 'b': 100, 'c': 100}

In [265]:
d = dict.fromkeys('python', 0)

In [266]:
d

{'p': 0, 'y': 0, 't': 0, 'h': 0, 'o': 0, 'n': 0}

In [267]:
for k in d:
    print(k)

p
y
t
h
o
n

In [269]:
d_iter = iter(d)
for k in d_iter:
    print(k)

p
y
t
h
o
n

In [271]:
d_iter = iter(d)
next(d_iter)

'p'

In [272]:
next(d_iter)

'y'

In [273]:
list(d_iter)

['t', 'h', 'o', 'n']

In [274]:
list(d_iter)

[]

In [275]:
from timeit import timeit
from random import randint

In [277]:
d = {k: randint(0,100) for k in range(10_000)}
keys = d.keys()

def iter_direct(d):
    for k in d:
        pass
    
def iter_view(d):
    for k in d.keys():
        pass
    
def iter_view_direct(view):
    for k in view:
        pass
    
    
print(timeit('iter_direct(d)', globals = globals(), number = 20_000))
print(timeit('iter_view(d)', globals = globals(), number = 20_000))
print(timeit('iter_view_direct(keys)', globals = globals(), number = 20_000))

6.096783799999685
6.192368500000157
6.322635900000023

In [279]:
d = {'a' :1, 'b':2, 'c':3}
for k in d:
    print(k,d[k])

a 1
b 2
c 3

In [281]:
d = {'a' :1, 'b':2, 'c':3}
for k, v in d.items():
    print(d,k)

{'a': 1, 'b': 2, 'c': 3} a
{'a': 1, 'b': 2, 'c': 3} b
{'a': 1, 'b': 2, 'c': 3} c

In [282]:
d = {k: randint(0,100) for k in range(10_000)}

In [283]:
items  = d.items()


def iterate_view(view):
    for k , v in view:
        pass
    
def iterate_clunky(d):
    for k in d:
        d[k]
        
print(timeit('iterate_view(items)', globals = globals(), number = 5_000))
print(timeit('iterate_clunky(d)', globals = globals(), number = 5_000))

3.158796899999288
5.379618999999366

In [284]:
d = {'a': 1 , 'b': 2, 'c':3}

In [285]:
for k,v in d.items():
    print(k, v**2)
    del d[k]

a 1

RuntimeError: dictionary changed size during iteration

In [286]:
d = {'a': 1 , 'b': 2, 'c':3}
keys = list(d.keys())
print(keys)

['a', 'b', 'c']

In [287]:
for k in keys:
    v = d[k]
    print(k, v**2)
    del d[k]

a 1
b 4
c 9

In [288]:
d

{}

In [289]:
d = {'a': 1 , 'b': 2, 'c':3}
for k in list(d.keys()):
    v = d.pop(k)
    print(k, v**2)

a 1
b 4
c 9

In [290]:
d

{}

In [292]:
d = {'a': 1 , 'b': 2, 'c':3}
for _ in range(len(d)):
    key, value = d.popitem()
    print(key,value**2)

c 9
b 4
a 1

In [293]:
d

{}

In [294]:
d = {'a': 1 , 'b': 2, 'c':3}
while len(d)>0:
    key, v = d.popitem()
    print(key, v**2)

c 9
b 4
a 1

In [295]:
d

{}

In [296]:
d = {'a': 1 , 'b': 2, 'c':3}
while True:
    try:
        k, v =d.popitem()
    except KeyError:
        break
    else:
        print(k, v**2)

c 9
b 4
a 1

In [297]:
d

{}

In [298]:
d = {'a': 1 , 'b': 2, 'c':3}
for k , v in d.items():
    print(k,v)
    del d[k]
    d[k*2] = v**2

a 1
b 2
c 3

In [299]:
d

{'aa': 1, 'bb': 4, 'cc': 9}